#dashboard-recipes{
    padding-right: 15px;
    padding-left: 0px;

}

#dashboard-labels {
    padding-left:15px;
    padding-right: 0px;

}

.dashboard-header-button-containers{
    width: 25%;
}

.dashboard-header-button-containers .btn {
    padding:3px;
    width: 50%;
    display: inline-block;
    padding: 2px;
    margin: 0;
    color: #0054da;
}

.vertical-line {
    height:100%;
    border-left: 1px solid #bababa;
}


.dashboard-buttons {
    color: #1863da;
    
}

.dashboard-bottom-menu-container {
    position: absolute;
    bottom: 5px;
}

.dashboard-buttons span {
    margin-right: 100px;
}

/*By default, the product buttons appear slightly to low compared to the text. Move them up*/
.dashboard-buttons img {
    padding-bottom: 3px;
    margin-right: 5px;
}

.dashboard-product-title {
    margin-top: 0.3em;
}



/*Distance between image and the rest of the product box*/
#dashboard-items .product-main-container {
    padding-left: 1em;
    height: 84px; /*This value must be the same as the below dashboard-img height*/
}
.dashboard-img {
    height: 84px; /*Set the height of the image, and with it, the height of the product box*/
    width: 100%;
    object-fit: cover;
    border-right: 1px solid #bababa;
}


.dashboard-img.inactive {
    opacity: 0.2;
}




/*Use CSS to draw crosses over products with no image*/

/*Use CSS to draw a cross over a div*/
/*https://stackoverflow.com/a/21958440*/
.crossed-out:before, .crossed-out:after {
    position: absolute;
    content: '';
    background:#f0faff;
    display: block;

    /*The vertical size of the cross*/
    width: 96%;

    /*The thickness of the cross line*/
    height: 10px;

    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    
    /*Position*/
    top: 31px;
    margin: auto;
}

.crossed-out:after {
    -webkit-transform: rotate(45deg);  
    transform: rotate(45deg);
}
.product-box:hover .crossed-out:before, .product-box:hover .crossed-out:after {
    background: #e6f7ff;
}



.move-to-labels {
    display: none;
}

.dashboard-header-container {
    margin-bottom: 12px;
}

.dashboard-header-container h1 {
    display:inline-block;
}

.dashboard-item-container h1 {
    font-size: 2.1em;
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.dashboard-select-product-type {
    display: none;
}

.dashboard-button {
    cursor: pointer;
}

.dashboard-header-add-img{
    -webkit-transform: translateY(-10%) scale(0.8,0.8);
    -ms-transform: translateY(-10%) scale(0.8,0.8);
    transform: translateY(-10%) scale(0.8,0.8);
    margin-left: 20px;
}


/*Status colors*/
/*Filter: sepia turns the image black and white for easier color changing*/
/*Saturate makes sure we actually get color back*/
/*hue-rotate determines the color*/
.label-status-confirmed {
        -webkit-filter: sepia() saturate(1000000%) hue-rotate(115deg);
        -ms-filter: sepia() saturate(1000000%) hue-rotate(115deg);
        filter: sepia() saturate(1000000%) hue-rotate(115deg);
}

.label-status-entered {
        -webkit-filter: sepia() saturate(1000000%) hue-rotate(40deg);
        -ms-filter: sepia() saturate(1000000%) hue-rotate(40deg);
        filter: sepia() saturate(1000000%) hue-rotate(40deg);
}


.dashboard-status {
    font-size: 14px;
}

.dashboard-status-confirmed {
    color: green;
}

.dashboard-status-unconfirmed {
    color: red;
}

.dashboard-status-entered {
    color: orange;
}


@media (max-width: 992px) {
    .product-photo-container {
        width:71.9px;
    }

    .dashboard-buttons span {
        margin-right: 40px;
    }
}

@media (max-width: 768px) {
    .dashboard-header {
        display: block;
    }

    .dashboard-header-name {
        text-align: center;
        width: 100%;
        margin: 0px;
    }

    .dashboard-header-button-containers {
        width: 100%;
    }

    #dashboard-labels,
    #dashboard-recipes {
        padding: 0px;   
    }

    .dashboard-product-title span{
        margin-left: 10px;
    }

    .dashboard-buttons #exportDropdownMenuButton {
        margin-right: 40px;
        margin-left: 10px;
    }

    .dashboard-select-product-type{
        display: block;
        margin-bottom: 1em;
        
    }

    .dashboard-select-product-type label {
        color: #1863da;
        font-size: 1.5em;
        font-weight: 300;
        font-family: "Open Sans", sans-serif;
    }

    #dashboard-items h1 {
        display: none;

    }

    #dashboard-labels {
        display: none;
    }
}
