
th.inactive span {
    color: #1863da;
}

/*Mobile layout*/
@media (max-width: 768px) {
    #search-results td:nth-child(3),
    #search-results td:nth-child(4){
        display:none;
    }

    #search-results th:nth-child(3),
    #search-results th:nth-child(4){
        display: none;
        width:0;
    }

}
