{% extends "izdelki/base.html" %}

{% block content %}
  <div class="row about-pages first-row">
    <div class="col-md-8 column-pad-right">
      <h1 id="about" class="title-large">O nas</h1>
      <p>Spletno aplikacijo Prehranske označbe smo razvili na
      <a href="https://cs.ijs.si/" target="_blank">Odseku za računalniške sisteme</a>,
      <a href="https://www.ijs.si" target="_blank">Institut »Jožef Stefan«,</a>
      v sodelovanju z
      <a href="http://www.uvhvvr.gov.si/" target="_blank">Upravo RS za varno hrano, veterinarstvo in varstvo
      rastlin (UVHVVR)</a>.
      UVHVVR je strokovni organ v sestavi Ministrstva za kmetijstvo, gozdarstvo in prehrano, pristojen za področje
      varne hrane in krme, veterinarstva in varstva rastlin.</p>
      <p>
        Ostali projektni partnerji:
        <ul>
          <li>Kmetijsko gospodarska zbornica Slovenije</li>
          <li>Biotehniška fakulteta, Oddelek za živilstvo, Univerza v Ljubljani</li>
          <li>Evropsko neprofitno združenje EuroFIR AISBL</li>
        </ul>
      </p>

    </div>
  </div>
{% endblock %}