{% extends "izdelki/base.html" %}

{% block content %}
  <div class="row about-pages first-row">
    <div class="col-md-8 column-pad-right">
      <h1 id="contact" class="title-large">Kontakt</h1>
      <p>Morebitna vprašanja in pobude lahko pošljete na elektronski naslov:
      <a href="mailto:info@prehranskeoznacbe.si"> info@prehranskeoznacbe.si</a>.</p>
    </div>
  </div>
{% endblock %}