{% extends "izdelki/base.html" %}
{% load static %}

{% block styles %}
<link href="{% static 'izdelki/css/lib/featherlight.min.css'  %}" rel="stylesheet">
{% endblock %}


{% block content %}
<div class = "row about-pages first-row">
    <div class = "col-md-8 column-pad-right">
        <h1 class="title-large"> Pomoč </h1>
    </div>
</div>

<div class = "row about-pages">

    <div class = "col-md-8 column-pad-right">
        <div id = "browser-support">
            <h3 class= "first">1. Podprti brskalniki</h3>
            <p>
                Aplikacija Prehranske označbe je podprta na spletnih brskalnikih Firefox, Chrome, Microsoft Edge (Windows 10) in Safari (Mac OS).
            </p>
            

            <p>
                Aplikacija ne deluje na spletnem brskalniku Internet Explorer. Za uporabo aplikacije prosim namestite in uporabite enega izmed zgornjih brskalnikov.
            </p>
        </div>
    </div>
</div>

<div class = "row help-row about-pages">
    <div class = "col-md-8 column-pad-right">
        <div id = "addProduct">
            <h3>2. Računanje prehranskih označb</h3>
            <ol>
                <li>Kliknite na ikono s plusom (na vrhu strani) za dodajanje novega izdelka</li>
                <li>V razdelku “Sestavine - iz baze” vnesite posamezno sestavino vašega izdelka v iskalno polje in kliknite na ustrezen rezultat. V desno polje nato vnesite količino te sestavine v izdelku (Slika 1).</li>
                <li>Prejšnji korak ponovite tolikokrat, da vnesete vse sestavine, ki jih vsebuje vaš izdelek.</li>
                <li>Če določene sestavine še ni v spletni bazi, kliknite na gumb &ltiz označbe&gt, prepišite informacije o sestavini iz njene embalaže in pritisnite &ltPotrdi&gt</li>
                <li>Če vaš izdelek vsebuje “Možne alergene”, jih vnesite tako, da kliknete na gumb s plusom (spodaj) in izberite možni alergen.</li>
                <li>Če ste vaš izdelek obdelali z določenim “Postopkom obdelave”, to označite tako, da kliknete na gumb s plusom (spodaj), in zberete opravljen postopek, nato pa vnesite še končno maso izdelka po opravljenem postopku.</li>
                <li>V spodnji tabeli se vam bodo sproti izračunale “Hranilne vrednosti” vašega izdelka in sicer na 100 g in na porcijo, katere velikost morate vnesti v polje “na porcijo (g)”.</li>
                <li>Če želite hranilne vrednosti shraniti v spletno bazo, kliknite na gumb &ltshrani&gt (spodaj). Za to funkcijo je potrebna registracija/prijava v sistem.</li>
            </ol>
        </div>
    </div>
    <a href="#" class="no-decoration" data-featherlight="{% static 'izdelki/resources/img/help/help_1.PNG' %}">
        <div class="col-md-4">
            <figure class="help-img-small help-img">
                <img src="{% static 'izdelki/resources/img/help/help_1.PNG' %}"  aria-hidden="true"/>
                <figcaption>Slika 1. Izračun nove označbe</figcaption>
            </figure>
        </div>
    </a>
</div>

<div class = "row help-row about-pages">
    <div class = "col-md-8 column-pad-right">
        <div id = "detail">
            <h3>3. Preverjanje prehranskih označb</h3>
            <ol>
                <li>V iskalno polje na (vrhu strani), vpišite iskano živilo in pritisnite &ltEnter&gt. </li>
                <li>Na spisku zadetkov kliknite na iskani izdelek (Slika 2).</li>
                <li>Na strani izdelka preverite hranilne vrednosti v tabeli (Slika 3).</li>
            </ol>

            <br>

            <h4> Dodatne funkcije </h4>
            <ul>
                <li>Če želite na enostaven način primerjati podatke hranilnih vrednosti izdelka z na primer lastnimi meritvami, kliknite na gumb &ltprimerjaj&gt, v prazen stolpec vpišite lastne podatke in si oglejte izračunani delež morebitnega odstopanja.</li>
                <li>Če želite hranilne vrednosti izvoziti v Excelovo tabelo, kliknite na gumb &ltizvozi&gt (spodaj). Za to funkcijo je potrebna registracija/prijava v sistem</li>
            </ul>
        </div>
    </div>
    <div class="col-md-4">
        <a href="#" class="no-decoration" data-featherlight="{% static 'izdelki/resources/img/help/help_2.PNG' %}">
            <figure class="help-img-small help-img" >
                <img src="{% static 'izdelki/resources/img/help/help_2.PNG' %}"  aria-hidden="true"/>
                <figcaption>Slika 2. Seznam živilskih izdelkov</figcaption>
            </figure>
        </a>
        <a href="#" class="no-decoration" data-featherlight="{% static 'izdelki/resources/img/help/help_3.PNG' %}">
            <figure class="help-img-small help-img no-margin">
                <img src="{% static 'izdelki/resources/img/help/help_3.PNG' %}"  aria-hidden="true"/>
                <figcaption>Slika 3. Hranilna sestava izbranega izdelka</figcaption>
            </figure>
        </a>
    </div>
</div>

<div class = "row help-row about-pages">
    <div class = "col-md-8 column-pad-right">
        <div id = "dashboard">
            <h3>4. Pregledovanje shranjenih izdelkov</h3>
            <ol>
                <li>Prijavljenim uporabnikom je omogočen pregled nad vsemi izdelki, ki so jih shranili preko aplikacije</li>
                <li>Za dostop do pregleda se najprej prijavite. Po prijavi vas po aplikacija avtomatično preusmerila na zaslon s pregledom vseh shranjenih izdelkov (Slika 4). Do pregleda lahko dostopate tudi z klikom na gumb levo od iskalne vrstice.</li>
                <li>Če želite spremeniti podatke shranjenega izdelka, kliknite na gumb &lturedi&gt.</li>
                <li>Z klikom na gumb &ltizvozi&gt lahko izvozite podatke o izdelku v datoteko združljivo z programskim orodjem Excel.</li>
                <li>Če želite shranjeni izdelek izbrisati, kliknite na križec desno od imena izdelka. Po izbrisu do izdelka ne bo več možno dostopati.</li>
            </ol>
        </div>
    </div>
    <a href="#" class="no-decoration" data-featherlight="{% static 'izdelki/resources/img/help/help_4.PNG' %}">
        <div class="col-md-4">
            <figure class="help-img-small help-img">
                <img src="{% static 'izdelki/resources/img/help/help_4.PNG' %}"  aria-hidden="true"/>
                <figcaption>Slika 4. Pregled shranjenih izdelkov</figcaption>
            </figure>
        </div>
    </a>
</div>

{% endblock %}


{% block javascript %}
  <script src="{% static 'izdelki/js/help.js' %}"></script>
  <script src="{% static 'izdelki/js/lib/featherlight/featherlight.min.js' %}"></script>
{% endblock javascript %}