{% extends "izdelki/base.html" %}

{% block content %}
  <div class="row about-pages first-row">
    <div class="col-md-8 column-pad-right">
      <h1 id="legal" class="title-large">Pogoji uporabe</h1>

      <h3 class="first">Zaščita pravic</h3>
      <p>Predmet tega obvestila je spletna aplikacija Prehranske označbe.</p>

      <h3>Omejena odgovornost</h3>
      <p>Institut “Jožef Stefan” (IJS) in Uprava RS za varno hrano, veterinarstvo in varstvo rastlin ne odgovarjata za
        uporabo spletne aplikacije in za morebitno škodo, povzročeno z uporabo tam nahajajočih se vsebin, podatkov in orodij.</p>
      <p>Izvajalec IJS se bo trudil za pravilnost informacij. Vse vsebine, podatki in orodja se lahko spreminjajo
        kadarkoli, brez obveznosti do obveščanja uporabnikov in brez odgovornosti za posledice povzročenih sprememb.</p>

      <h3>Omejena pravica uporabe vsebin, podatkov in orodij</h3>
      <p>Uporabniki lahko razpolagajo z vsebinami, podatki in orodji spletne aplikacije Prehranske označbe za svojo
        osebno uporabo, pri čemer ne smejo biti kršene avtorske pravice. Avtorji aplikacije Prehranske označbe niso
        odgovorni za morebitne škodljive posledice uporabe. Kakršnakoli druga uporaba ali distribucija teh spletnih
        vsebin, podatkov ali njihovega dela ni dovoljena.</p>

    </div>
  </div>

  <div class="row about-pages" id="data-protection">
    <div class="col-sm-8">
      <h3>Varovanje podatkov</h3>
      
      <p>IJS bo z vsemi podatki, zbranimi v spletni aplikaciji Prehranske označbe, razpolagal v skladu s Splošno uredbo o varstvu podatkov (GDPR). </p>
      
      
      <h4>Katere osebne podatke zbiramo?</h4> 
      
      <ul>
        <li> Če se uporabnik registrira kot potrošnik, hranimo osnovne osebne podatke: ime in priimek uporabnika ter e-naslov; </li>
        <li> Če se registrira podjetje, hranimo poleg imena, priimka in e-naslova uporabnika tudi podatke o podjetju: naziv podjetja, matična številka, sedež, telefonska številka, spletna stran, ime in priimek kontaktne osebe in GS1 predpona črtne kode. </li>
      </ul> 

      
      <h4>Za katere namene obdelujemo vaše osebne podatke?</h4> 

      <p>Osebne podatke uporabljamo za preverjanje identitete uporabnika znotraj aplikacije <a href = "{% url 'index' %}">Prehranske označbe</a>. Matično številko podjetja preverjamo preko AJPES spletne storitve PRS.</p>

      
      <h4>Koliko časa hranimo vaše osebne podatke?</h4>

      <p>Osebne podatke, ki jih obdelujemo na podlagi vaše osebne privolitve, hranimo trajno, do vašega preklica. Po vašem preklicu bomo osebne podatke učinkovito in trajno izbrisali ali anonimizirali, tako da jih ne bo mogoče povezati s posameznikom. Hkrati bomo v aplikaciji <a href = "{% url 'index' %}">Prehranske označbe</a> izbrisali vaše uporabniško ime in vse z njim povezane podatke.</p>


      <h4>Kakšne so vaše možnosti in pravice v zvezi s posredovanimi osebnimi podatki?</h4>

      <p>Z vami želimo biti čim bolj transparentni, zato imate možnost izbire o tem, kako želite, da uporabljamo vaše osebne podatke.</p>

      <ul>
        <li>Vaši <b>osebni podatki</b> - vedno nas lahko kontaktirate preko elektronskega naslova <a href="mailto:info@prehranskeoznacbe.si">info@prehranskeoznacbe.si</a>, da ugotovite, katere vaše osebne podatke imamo in njihov izvor;</li>
        <li>Vaši <b>popravki</b> - če v osebnih podatkih najdete kakšno napako, ali če se vam zdijo nepopolni ali napačni, lahko zahtevate popravek ali dopolnitev;</li>
        <li>Vaša <b>pravica</b> je, da pri Informacijskem pooblaščencu vložite tožbo. </li>
      </ul>

    Soglasje za obdelavo osebnih podatkov lahko kadar koli prekličete, s tem, da nam pišete na <a href="mailto:info@prehranskeoznacbe.si">info@prehranskeoznacbe.si</a>. 
    

    </div>
  </div>

  <div class="row about-pages" id="cookies">
    <div class="col-sm-8">
      <h3>Piškotki</h3>
      <p>Spletna aplikacija Prehranske označbe za svoje nemoteno delovanje uporablja t. i. piškotke (angl. cookies).
        To so majhne tekstovne datoteke, ki se odlagajo na napravi uporabnika, s katero ta dostopa do spletne
        aplikacije. Z njimi se na uporabnikovi napravi hranijo unikatni podatki o uporabniku oziroma nastavitve, ki si
        jih je v spletni aplikaciji izbral. Shranjevanje piškotkov je pod popolnim nadzorom brskalnika, ki ga uporabnik
        uporablja na napravi. To pomeni, da lahko uporabnik v svojem spletnem brskalniku shranjevanje piškotkov po želji
        omeji ali onemogoči.</p>

        <p>Aplikacija uporablja sledeče piškotke:</p>

        <table class = "table-bordered cookie-table">
          <tr>
            <th> Ime piškotka </th>
            <th> Namen </th>
            <th> Čas shranjevanja </th>
          </tr>

          <tr>
            <td>cookieconsent
            _status</td>
            <td>Privolitev uporabe piškotkov</td>
            <td>1 leto</td>
          </tr>

          <tr>
            <td>csrftoken</td>
            <td>Varnostni mehanizem za varno pošiljanje podatkov spletnemu strežniku</td>
            <td>1 leto</td>
          </tr>

          <tr>
            <td>sessionid</td>
            <td>Prijava uporabnika v spletno stran</td>
            <td>2 tedna</td>
          </tr>

          <tr>
            <td>oznacbe-*</td>
            <td>Shranjevanje vnešenih podatkov pri dodajanju in urejanju izdelkov</td>
            <td>2 uri</td>
          </tr>
        </table>
    </div>
  </div>
{% endblock %}