{% extends "izdelki/base.html" %}

{% block content %}
  <div class="row">
    <div class="col-sm-12">
      <h1 id="about">O nas</h1>
      <p>Spletno aplikacijo Prehranske označbe smo razvili na
        <a href="https://cs.ijs.si/" target="_blank">Odseku za računalniške sisteme</a>,
        <a href="https://www.ijs.si" target="_blank">Institut »Jožef Stefan«,</a>
        v sodelovanju z
        <a href="http://www.uvhvvr.gov.si/" target="_blank">Upravo RS za varno hrano, veterinarstvo in varstvo
        rastlin (UVHVVR)</a>.
        UVHVVR je strokovni organ v sestavi Ministrstva za kmetijstvo, gozdarstvo in prehrano, pristojen za področje
        varne hrane in krme, veterinarstva in varstva rastlin.</p>
      <p>
        Ostali projektni partnerji:
        <ul>
          <li>Kmetijsko gospodarska zbornica Slovenije</li>
          <li>Biotehniška fakulteta, Oddelek za živilstvo, Univerza v Ljubljani</li>
          <li>Evropsko neprofitno zduženje EuroFIR AISBL</li>
        </ul>
      </p>

    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h1 id="legal">Pogoji uporabe</h1>

      <h3>Zaščita pravic</h3>
      <p>Predmet tega obvestila je spletna aplikacija Prehranske označbe.</p>

      <h3>Omejena odgovornost</h3>
      <p>Institut “Jožef Stefan” (IJS) in Uprava RS za varno hrano, veterinarstvo in varstvo rastlin ne odgovarjata za
        uporabo spletne aplikacije in za morebitno škodo, povzročeno z uporabo tam nahajajočih se vsebin, podatkov in orodij.</p>
      <p>Izvajalec IJS se bo trudil za pravilnost informacij. Vse vsebine, podatki in orodja se lahko spreminjajo
        kadarkoli, brez obveznosti do obveščanja uporabnikov in brez odgovornosti za posledice povzročenih sprememb.</p>

      <h3>Omejena pravica uporabe vsebin, podatkov in orodij</h3>
      <p>Uporabniki lahko razpolagajo z vsebinami, podatki in orodji spletne aplikacije Prehranske označbe za svojo
        osebno uporabo, pri čemer ne smejo biti kršene avtorske pravice. Avtorji aplikacije Prehranske označbe niso
        odgovorni za morebitne škodljive posledice uporabe. Kakršnakoli druga uporaba ali distribucija teh spletnih
        vsebin, podatkov ali njihovega dela ni dovoljena.</p>

      <h3>Varovanje podatkov</h3>
      <p>IJS bo z vsemi podatki, zbranimi v spletni aplikaciji Prehranske označbe, razpolagal v skladu z veljavno
        zakonodajo.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h1 id="contact">Kontakt</h1>
      <p>Morebitna vprašanja in pobude lahko pošljete na elektronski naslov:
        <a href="mailto:barbara.korousic@ijs.si">barbara.korousic@ijs.si</a>.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h1>Piškotki</h1>
      <p>Spletna aplikacija Prehranske označbe za svoje nemoteno delovanje uporablja t. i. piškotke (angl. cookies).
        To so majhne tekstovne datoteke, ki se odlagajo na napravi uporabnika, s katero ta dostopa do spletne
        aplikacije. Z njimi se na uporabnikovi napravi hranijo unikatni podatki o uporabniku oziroma nastavitve, ki si
        jih je v spletni aplikaciji izbral. Shranjevanje piškotkov je pod popolnim nadzorom brskalnika, ki ga uporabnik
        uporablja na napravi. To pomeni, da lahko uporabnik v svojem spletnem brskalniku shranjevanje piškotkov po želji
        omeji ali onemogoči.</p>
    </div>
  </div>
{% endblock content %}