﻿{% extends "izdelki/base.html" %}
{% load static %}
{% load i18n %}


{% block styles %}
<link href="{% static 'izdelki/css/add.css'  %}" rel="stylesheet">
{% endblock %}


{% block content %}
  <script type="text/javascript">
{#    var products = {{ products|safe }};#}
    var otherComponents = {{ other_components|safe }};
    {% if product_id %}
      var productId = "{{ product_id|safe }}";
    {% else %}
      var productId= null;
    {% endif %}
    var productMethod = {{ product_method|safe }};
    var productAllergens = {{ product_allergens|safe }};
    var productIngredients = {{ product_ingredients|safe }};
    var productServing = {{ product_serving|safe }};
    var productMealsize = {{ product_mealsize|safe }};
    var serverExtraComponents = {{ extra_components|safe }};
    var productComponents = {{ product_components_correct_units|safe }}

    {# productEdit is a boolean, which will convert to a javascript var productEdit = True/False #}
    {# Since Javascript true/false need to be lowercase, we have to convert them manually #}
    var productEdit = {{ product_edit|yesno:"true,false"}};
    var editingLabel = {{ is_from_label|yesno:"true,false" }};


    var barcode_prefix = '{{ barcode_prefix|default_if_none:""|safe }}';

    var csrf_token = '{{ csrf_token|safe }}';
    var authenticated = JSON.parse('{{ authenticated|safe }}');
    var removeImgUrl = "{% static 'izdelki/resources/img/remove-new.png' %}";
    var addImgUrl = "{% static 'izdelki/resources/img/add_small.png' %}";
    var addInvertedImgUrl = "{% static 'izdelki/resources/img/add_small_inverted.png' %}";
    var originalComponents = {{ original_components_grams|safe }};
    var unitChangeComponents = {{ unit_change_codes|safe }};

  </script>
  <form id="test-pdf-form">
    {% csrf_token %}
  </form>

  <div class ="preload-add-inverted"> </div>
  <!-- Modal confirm dialog -->
  <div class="modal fade" tabindex="-1" role="dialog" id="product-reset-modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>{% trans "Ali ste prepričani, da želite izbrisati vnešene podatke?" %}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Nazaj</button>
          <button type="button" class="btn btn-danger" id = "product-reset-button">Izbriši</button>
        </div>
      </div>
    </div>
  </div>


  <!-- HELP MODALS -->
  <div class="modal fade" tabindex="-1" role="dialog" id="product-help-modal-1">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p> 
            S klikom na gumb ‘poišči v spletni bazi’ odprite iskalnik in poiščite sestavino. V seznamu zadetkov izberite ustrezno in kliknite nanjo. Izpisala se bo v seznamu sestavin. Če sestavine ne najdete v bazi, jo lahko dodate preko gumba ‘prepiši iz embalaže izdelka’, kjer prepišete vrednosti sestavine iz njene prehranske označbe. Postopek ponavljajte, dokler ne boste izbrali vseh sestavin. Nato določite njihove količine v gramih. Po potrebi izberite še vse alergene v izdelku in izberite postopek obdelave, saj le ta vpliva na hranilno sestavo izdelka.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Nazaj</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" tabindex="-1" role="dialog" id="product-help-modal-2">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            Na osnovi podatkov o hranilni sestavi izbranih sestavin in postopka obdelave se bo avtomatsko izračunala energijska in hranilna vrednost vašega izdelka na 100 gramov. Če želite, lahko izračunate tudi vrednost v določeni porciji. V tabeli so privzeto določeni parametri v skladu z Uredbo št. 1169. Po potrebi lahko dodate tudi ostale parametre preko izbirnika parametrov.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Nazaj</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" tabindex="-1" role="dialog" id="product-help-modal-3">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            Vse vnešene in izračunane podatke o prehranskem izdelku lahko izvozite v PDF formatu. Če se registrirate v sistem, je možen izvoz tudi v obliki MS Excel tabele kot tudi shranjevanje in naknadno urejanje vnešenih podatkov. 
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Nazaj</button>
        </div>
      </div>
    </div>
  </div>

  <!-- END HELP MODALS -->



  <!-- Delete modal confirm dialog -->
  <div class="modal fade" tabindex="-1" role="dialog" id="deleteItemModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p id="deleteWarningContent">
            {% blocktrans %} 
              Ali ste prepričani, da želite izbrisati izdelek?  <br>
              Po izbrisu do tega izdelka ne boste mogli več dostopati.</p>
            {% endblocktrans %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Nazaj</button>
          <button type="button" class="btn btn-danger" id = "editDeleteItemConfirm">Izbriši</button>
        </div>
      </div>
    </div>
  </div>

  <div class = "first-row">
    <p class="title-large add-help-text-top">Računanje novih označb</p>     
  </div>

  <div class="row first-row">
    <div class="col-md-8 product-first">
      
      

      {% if product_edit %}
        <p class="add-help-text add-help-text-top edit-product-name"> {{ product_name }} </p>
      {% else %}
        <p class="add-help-text add-help-text-top">{% trans "1. Vnesite sestavine izdelka" %} </p>

        <span id="add-product-help-1" data-toggle="modal" data-target="#product-help-modal-1" class = "glyphicon glyphicon-question-sign help-icon"></span>
      {% endif %}

    </div>
  </div>
  
  <div class="row">
    <!-- HRANILNE VREDNOSTI IZDELKA -->
    <div class="col-md-8 product-main">
      {% if product_id %}
      {# DELETE BUTTON MOBILE #}
      <div class=" edit-delete-item mobile-only" id="deleteEditButton"> 
        <!-- <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>  -->
        <img  src="{% static 'izdelki/resources/img/remove.png' %}">
      </div>
      {% endif %}

      <h2>Sestavine</h2>
      {# DELETE BUTTON #}
      <div class="error" id="deleteLabelInredientError" hidden>
        {% trans "Podatkov o izdelkih dodanih iz prehranske označbe ni mogoče izbrisati." %}
      </div>

      {% if not is_from_label %}
      <div class="recipeMenu">
        <div class = "row no-gutters recipe-menu-row">
          
          <div class="col-md-6">
            <!--
            <button class="btn btn-default add-button" id="addDatabase" type="submit"> <img src="{% static 'izdelki/resources/img/add_small.png' %}" aria-hidden="true" class="add-product-img"/>  iz baze</button>
            -->

            <input type="radio" id="addDatabase" name="ingredient-type" checked>
            <label for="addDatabase"> Poišči v spletni bazi </label>
          </div>
          
          <div class="col-md-6 from-label-container">
            <!--
            <button class="btn btn-default add-button" id="addLabel" type="submit"> <img src="{% static 'izdelki/resources/img/add_small.png' %}" aria-hidden="true" class="add-product-img"/> iz označbe</button>
            -->
            <input type="radio" id="addLabel" name="ingredient-type">
            <label for="addLabel"> Prepiši iz embalaže izdelka </label>
          </div>
        </div>

        <span id = "ingredient-data-loading-message" hidden> {% trans "Podatki o sestavinah se nalagajo. Prosimo, počakajte trenutek." %}</span>

        {% comment %}
        <button class="btn btn-default add-button hidden" id="addRecipe" type="submit"> <span class="glyphicon
        glyphicon-plus" aria-hidden="true"></span> recept</button>
        {% endcomment %}
      </div>
      {% endif %}

      

      <div id="searchIngredients" class="ui-widget" hidden>
        <select id="ingredientSearchbox" name="ingredients">

          {% comment %}
          {% for p in products %}
          <option value="{{ p.CODE }}">{{ p.NAME }}</option>
          {% endfor %}
          {% endcomment %}
        </select>

        {% comment %}
        {% for p in products %}
        <div id="{{ p.CODE }}comps" hidden> <span class="searchbox-components align-right" >
          OH: <span class="preserve-whitespace">{{p.COMPONENTS.CHOT|floatformat:"0"|default:"0"|rjust:"3"}}g  </span>
          
          B: <span class="preserve-whitespace">{{p.COMPONENTS.PROT|floatformat:"0"|default:"0"|rjust:"3"}}g  </span>
          
          M: <span class="preserve-whitespace">{{p.COMPONENTS.FAT|floatformat:"0"|default:"0"|rjust:"3"}}g  </span>
        </span>
        </div>
        {% endfor %}
        {% endcomment %}

      </div>
      

      {% if not is_from_label %}
        <div id="addLabelForm" hidden>
          {% include 'izdelki/add_product_info_from_label.html' %}

        </div>
      {% endif %}

      
      
      <table id="listIngredients" class="table table-condensed last-row-bordered add-product-table">
        <tbody>
        </tbody>
      </table>

      <h4>Možni alergeni</h4>
      <div class="dropdown">
        <button class="btn btn-default add-button dropdown-toggle add-dropdown" type="button" id="allergens-add"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <img src="{% static 'izdelki/resources/img/add_small.png' %}">
        </button>
        <ul class="dropdown-menu dropdown-add" id="addAllergens" aria-labelledby="allergens-add">
          {% for alerg in allergens %}
            <li data-id="{{ alerg.id }}">{{ alerg.name }}</li>
          {% endfor %}
        </ul>
      </div>
      <table id="listAllergens" class="table table-condensed last-row-bordered add-product-table">
        <tbody>
        </tbody>
      </table>

      {% if not is_from_label %}
      <h4>Postopek obdelave</h4>
      <div class="dropdown">
        <button class="btn btn-default add-button dropdown-toggle add-dropdown"  type="button" id="methods-add"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <img src="{% static 'izdelki/resources/img/add_small.png' %}">
        </button>
        <ul class="dropdown-menu dropdown-add" id="chooseMethod" aria-labelledby="methods-add">
          {% for method in cooking_methods %}
            {% if method.CODE == "G0008" %}
              <li data-id="{{ method.CODE }}">pečenje na rešetki</li>
            {% else %}
              <li data-id="{{ method.CODE }}">{{ method.NAME|lower }}</li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      <table id="listMethod" class="table table-condensed last-row-bordered add-product-table">
        <tbody>
        </tbody>
      </table>
      {% endif %}

    </div> <!-- COLUMN -->
      {% if edit %}
        <!-- PODATKI O IZDELKU -->
        <div class="col-md-4 product-sidebar-margin-top product-sidebar">
          
          {% if product_id %}
            <div class=" edit-delete-item hide-on-mobile" id="deleteEditButton"> 
              <!-- <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>  -->
              <img  src="{% static 'izdelki/resources/img/remove.png' %}">
            </div>
          {% endif %}

          <h2 id="product-sidebar-image-header"> Slika </h2>
          {% if product_photo %}
            <div id="product-img" class="text-center has-image-detail">
              <img id="remove-product-photo" src="{% static 'izdelki/resources/img/remove-new.png' %}">
              <img src="{{ product_photo }}">
            </div>
          {% else %}
            <div id="product-img" class="text-center">
              <img id="remove-product-photo" src="{% static 'izdelki/resources/img/remove-new.png' %}">
              <img src="{% static 'izdelki/resources/img/add_small.png' %}">
            </div>
          {% endif %}
          
          <input type="file" name="pick-photo" id="pick-photo" />
          <div id="photoError" hidden> 
            Prišlo je do napake pri prenosu slike. Preverite, ali je slika v podprtem formatu (.png ali .jpeg) in manjša od 20MB.
          </div>
        </div>
    {% else %}
      <div class="col-md-4" id="product-sidebar-help">
        <p class="add-help-text-sidebar add-help-text-top"> {% trans "S klikom na gumb ‘pošči v spletni bazi’ odprite iskalnik in poiščite sestavino. V seznamu zadetkov izberite ustrezno in kliknite nanjo. Izpisala se bo v seznamu sestavin. Če sestavine ne najdete v bazi, jo lahko dodate preko gumba ’prepiši iz embalaže izdelka’, kjer prepišete vrednosti sestavine iz njene prehranske označbe. Postopek ponavljajte, dokler ne boste izbrali vseh sestavin. Nato določite njihove količine v gramih. Po potrebi izberite še vse alergene v izdelku in izberite postopek obdelave, saj le ta vpliva na hranilno sestavo izdelka." %}</p>
      </div>
    {% endif %}
  </div> <!-- ROW -->
      
  <div class="row">
    <div class="col-md-8 product-main">
      {% if not product_edit%}
        <p class="add-help-text help-text-large-margin components-help-text hide-on-mobile {% if not user.is_authenticated %} add-help-text-no-user {% endif %}">{% trans "2. Poglejte izračunane hranilne vrednosti" %}</p>

        <span id="add-product-help-2" data-toggle="modal" data-target="#product-help-modal-2" class = "glyphicon glyphicon-question-sign help-icon hide-on-mobile"></span>
      {% else %}
        <p class="add-help-text help-text-large-margin components-help-text hide-on-mobile"> &nbsp; </p>
      {% endif %}

    </div>
  </div>


  <div class="row">

    {% if edit %}
      <!-- PODATKI O IZDELKU -->
      <div class="col-md-4 col-md-push-8 product-sidebar-margin-top product-sidebar">
        <div id="recipeFormData">
          <h2> Opis </h2>
          {% include 'izdelki/add_product_info.html' %}
        </div>
      </div>
    {% else %}
      <div class="col-md-4 col-md-push-8" id="product-sidebar-help">
        <p class="add-help-text-sidebar add-help-text-middle">{% trans "Na osnovi podatkov o hranilni sestavi izbranih sestavin in postopka obdelave se bo avtomatsko izračunala energijska in hranilna vrednost vašega izdelka na 100 gramov. Če želite, lahko izračunate tudi vrednost v določeni porciji. V tabeli so privzeto določeni parametri v skladu z Uredbo št. 1169. Po potrebi lahko dodate tudi ostale parametre preko izbiralnika parametrov. " %} </p>
      </div>
    {% endif %}

      





    <div class="col-md-8 col-md-pull-4 product-main">
      {% if not product_edit%}
        <p class="add-help-text help-text-large-margin mobile-only"> {% trans "2. Poglejte izračunane vrednosti" %}</p>
        <span id="add-product-help-2-mobile" data-toggle="modal" data-target="#product-help-modal-2" class = "glyphicon glyphicon-question-sign help-icon mobile-only"></span>
      {% endif %}
      <h2>Hranilne vrednosti</h2>
      {% if not is_from_label %}
        {% include 'izdelki/food_label.html' with input=True table_id='listComponents' %}
      {% else %}
        {% include 'izdelki/food_label_editable.html' with input=True table_id='listComponents' %}
      {% endif %}


      {% if edit %}

          <div class="row margin-top-55">
            <div class="col-md-12 product-main" id="product-edit-title">
              {% if product_edit %}
                <p class="add-help-text"> &nbsp; </p>
              {% else %}
                <p class="add-help-text"> {% trans "3. Izvozite oz. shranite tabelo" %} </p>
                <span id="add-product-help-3" data-toggle="modal" data-target="#product-help-modal-3" class = "glyphicon glyphicon-question-sign help-icon"></span>
              {% endif %}
            </div>
            
          </div>

          <h2 class="margin-top-13">Zbrani podatki</h2>
            <div class = "row no-gutters">
              {# EXPORT BUTTON #}
              <div class="dropdown col-sm-6" id="exportDropdown">
                <button class="btn btn-default btn-block product-button dropdown-toggle" id="exportDropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                  <!-- <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>  -->
                  <img src="{% static 'izdelki/resources/img/left.png' %}">
                  Izvozi
                </button>
              
                <div class="dropdown-menu" aria-labelledby="exportDropdownMenuButton">
                  <li id='{{ is_from_label|yesno:"pdf-export-label,pdf-export" }}'><a class="dropdown-item" href="javascript:void(0);">PDF</a></li>
                  <div class="dropdown-divider"></div>
                  {% if edit %}
                    <li id='{{ is_from_label|yesno:"xls-export-label,xls-export" }}'><a class="dropdown-item" href="javascript:void(0);">Excel</a></li>
                  {% else %}
                    <li id="xls-export-disabled" class = "disabled"><a class="dropdown-item" href="javascript:void(0);">Excel *</a></li>
                  {% endif %}
                </div>
              </div>

              {# SAVE BUTTON #}
              <div class="col-sm-6">
                {% if not is_from_label %}
                <button class="btn btn-default btn-block product-button" type="submit" id="saveProduct"> 
                  <!-- <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> -->
                    <img src="{% static 'izdelki/resources/img/left.png' %}">                   
                   <span id="saveProduct-text">Shrani </span>
                  </button>
                {% else %}
                <button  class="btn btn-default btn-block product-button" type="submit" id="saveLabelEdit"> 
                  <!--<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> -->
                  <img src="{% static 'izdelki/resources/img/left.png' %}">     
                    <span id="saveProduct-text"> Shrani </span>
                </button>
                {% endif %}
              </div>
              
            </div>

           <div id = "error-submit-input" class = "error" hidden>
             {% trans "V enem izmed polj se nahaja napaka. Preverite, ali ste pravilno izpolnili vsa polja." %}
           </div>

           <div id="error-submit-portion" class = "error" hidden>
             {% trans "Potrebno je vnesti velikost porcije." %}
           </div>

             <div class="error" id="deleteError" hidden>
               {% trans "Prišlo je do napake pri izbrisu izdelka. Prosimo, osvežite stran in poskusite ponovno." %}
             </div>

             <div id = "error-no-ingredients" class = "error" hidden>
               {% trans "Potrebno je vnesti vsaj eno sestavino." %}
             </div>

             <div id ="error-server" class="error" hidden>
              Prišlo je do napake pri povezavi s strežnikom. Prosim, osvežite stran in poskusite ponovno
             </div>


      {% endif %}
    </div>
  </div>

{% if not edit %}
  
  {% if not product_edit %}
  <div class="row margin-top-50">
    <div class="col-md-8 product-main">
      <p class="add-help-text"> {% trans "3. Izvozite oz. shranite tabelo" %} </p>
      <span id="add-product-help-3" data-toggle="modal" data-target="#product-help-modal-3" class = "glyphicon glyphicon-question-sign help-icon"></span>
    </div>
    
  </div>
  {% endif %}
    
  <div  class="row">
    <div class="col-md-8 product-main">
      <h2>Zbrani podatki</h2>
      <div class = "row no-gutters">
        <div class="col-sm-6">
        <div class="dropdown" id="exportDropdown">
          {% if product_id %}
            <button class="btn btn-default btn-block product-button edit-delete-item" id="deleteEditButton"> 
              <!-- <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>  -->
              <img src="{% static 'izdelki/resources/img/remove-new.png' %}">
              Izbriši
           </button>

          {% else %}
            <button class="btn btn-default btn-block product-button dropdown-toggle" id="exportDropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
              <!-- <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>  -->
              <img src="{% static 'izdelki/resources/img/left.png' %}">
              Izvozi
            </button>

            <div class="dropdown-menu" aria-labelledby="exportDropdownMenuButton">
              <li id='{{ is_from_label|yesno:"pdf-export-label,pdf-export" }}'><a class="dropdown-item" href="javascript:void(0);">PDF</a></li>
              <div class="dropdown-divider"></div>
              {% if edit %}
                <li id="xls-export"><a class="dropdown-item" href="javascript:void(0);">Excel</a></li>
              {% else %}
                <li id="xls-export-disabled" class = "disabled"><a class="dropdown-item" href="javascript:void(0);">Excel *</a></li>
              {% endif %}
            </div>
          {% endif %}
        </div>
        </div>
        <div class="col-sm-6">
          {% if not is_from_label %}
          <button class="btn btn-default btn-block product-button" type="submit" id="saveProduct"> 
            <!-- <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> -->
              <img src="{% static 'izdelki/resources/img/left.png' %}">                   
             <span id="saveProduct-text">Shrani </span>
            </button>
          {% else %}
          <button  class="btn btn-default btn-block product-button" type="submit" id="saveLabelEdit"> 
            <!--<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> -->
            <img src="{% static 'izdelki/resources/img/left.png' %}">     
              <span id="saveProduct-text"> Shrani </span>
          </button>
          {% endif %}
        </div>
      </div>

      <div id = "error-submit-input" class = "error" hidden>
        {% trans "V enem izmed polj se nahaja napaka. Preverite, ali ste pravilno izpolnili vsa polja." %}
      </div>

      <div id="error-submit-portion" class = "error" hidden>
        {% trans "Potrebno je vnesti velikost porcije." %}
      </div>

        <div class="error" id="deleteError" hidden>
          {% trans "Prišlo je do napake pri izbrisu izdelka. Prosimo, osvežite stran in poskusite ponovno." %}
        </div>

        <div class="error" id="deleteLabelInredientError" hidden>
          {% trans "Podatkov o izdelkih dodanih iz prehranske označbe ni mogoče izbrisati." %}
        </div>


        <div id = "error-no-ingredients" class = "error" hidden>
          {% trans "Potrebno je vnesti vsaj eno sestavino." %}
        </div>

        <div id ="error-server" class="error" hidden>
        </div>

    </div>
    <div class="col-md-4 product-sidebar-margin-top product-sidebar">
      {% if not edit %}       
        <p class="add-help-text-sidebar add-help-text-bottom"> {% trans "Vse vnešene in izračunane podatke o prehranskem izdelku lahko izvozite v PDF formatu. Če se registrirate v sistem, je možen izvoz tudi v obliki MS Excel tabele kot tudi shranjevanje in naknadno urejanje vnešenih podatkov." %} </p>
      {% endif %}
    </div>  
  </div> <!-- ROW -->
{% endif %}

    
{% endblock %}

{% block javascript %}
  
  <script src="{% static 'izdelki/js/jquery.ba-throttle-debounce.js' %}"></script>
  <script src="{% static 'izdelki/js/jquery-ui/jquery.ui.autocomplete.html.js' %}"> </script>
  <script src="{% static 'izdelki/js/jquery.are-you-sure.js' %}"> </script>
  
  <script src="{% static 'izdelki/js/product.js' %}"></script>
  <script src="{% static 'izdelki/js/compare.js' %}"></script>
  <script src="{% static 'izdelki/js/levenshtein.js' %}"></script>

  <script src="{% static 'izdelki/js/add/ingredient_searchbox.js' %}"></script>
  <script src="{% static 'izdelki/js/add/common.js' %}"></script>
  <script src="{% static 'izdelki/js/add/setup.js' %}"></script>
  <script src="{% static 'izdelki/js/add/export.js' %}"></script>
  <script src="{% static 'izdelki/js/add/localstorage.js' %}"></script>
  <script src="{% static 'izdelki/js/add/upload-product-from-label.js' %}"></script>
  <script src="{% static 'izdelki/js/add/upload-product.js' %}"></script>
  <script src="{% static 'izdelki/js/add/add.js' %}"></script>
{% endblock javascript %}