{% extends "izdelki/base.html" %}
{% load static %}
{% load i18n %}


{% block styles %}
<link href="{% static 'izdelki/css/add.css'  %}" rel="stylesheet">
{% endblock %}


{% block content %}
  <script type="text/javascript">
{#    var products = {{ products|safe }};#}
    var otherComponents = {{ other_components|safe }};
    {% if product_id %}
      var productId = "{{ product_id|safe }}";
    {% else %}
      var productId= null;
    {% endif %}
    var productMethod = {{ product_method|safe }};
    var productAllergens = {{ product_allergens|safe }};
    var productIngredients = {{ product_ingredients|safe }};
    var productServing = {{ product_serving|safe }};
    var productMealsize = {{ product_mealsize|safe }};
    var serverExtraComponents = {{ extra_components|safe }};
    var productComponents = {{ product_components_correct_units|safe }}

    {# productEdit is a boolean, which will convert to a javascript var productEdit = True/False #}
    {# Since Javascript true/false need to be lowercase, we have to convert them manually #}
    var productEdit = {{ product_edit|yesno:"true,false"}};
    var editingLabel = {{ is_from_label|yesno:"true,false" }};


    var barcode_prefix = '{{ barcode_prefix|default_if_none:""|safe }}';

    var csrf_token = '{{ csrf_token|safe }}';
    var authenticated = JSON.parse('{{ authenticated|safe }}');
    var removeImgUrl = "{% static 'izdelki/resources/img/remove-new.png' %}";
    var addImgUrl = "{% static 'izdelki/resources/img/add_small.png' %}";
    var addInvertedImgUrl = "{% static 'izdelki/resources/img/add_small_inverted.png' %}";
    var originalComponents = {{ original_components_grams|safe }};
    var unitChangeComponents = {{ unit_change_codes|safe }};

  </script>
  <form id="test-pdf-form">
    {% csrf_token %}
  </form>

  <div class ="preload-add-inverted"> </div>
  <!-- Modal confirm dialog -->
  <div class="modal fade" tabindex="-1" role="dialog" id="product-reset-modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>{% trans "Ali ste prepričani, da želite izbrisati vnešene podatke?" %}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Nazaj</button>
          <button type="button" class="btn btn-danger" id = "product-reset-button">Izbriši</button>
        </div>
      </div>
    </div>
  </div>



  <!-- HELP MODALS -->
  <div class="modal fade" tabindex="-1" role="dialog" id="product-help-modal-1">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p> 
            Iz prehranske označbe izdelka prepišite podatke o hranilni vrednosti. Bodite pozorni, da iz izdelka prepišete podatke o hranilnih vrednostih na 100 gramov in ne na porcijo. 
          </p>
          <p>
            Če izdelek vsebuje podatke o hranilih, ki jih privzeto ni v tabeli (npr. Večkrat nenasičene maščobne kisline), lahko tabeli dodate polja za vnos dodatnih hranil s klikom na plus v spodnjem levem kotu tabele. Kliknite na plus in vpišite ima hranila, npr. "Večkrat", "Vitamin" ipd. V seznamu zadetkov izberite hranilo, za katerega se bo odprlo dodatno polje v tabeli.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Nazaj</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" tabindex="-1" role="dialog" id="product-help-modal-2">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            V spodnja polja vpišite osnovne podatke o prehranskem izdelku.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Nazaj</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" tabindex="-1" role="dialog" id="product-help-modal-3">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
           Vnešene podatke o prehranskem izdelku lahko izvozite v PDF formatu. Če se registrirate v sistem, je možen izvoz tudi v obliki MS Excel tabele, kot tudi shranjevanje in naknadno urejanje podatkov. 
         </p>
          <p>
            Vnešene podatke bomo preverili in ko bodo dokončno potrjeni, bodo vidni tudi drugim uporabnikom, če ste seveda dovolili njihovo javno objavo.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Nazaj</button>
        </div>
      </div>
    </div>
  </div>

  <!-- END HELP MODALS -->




  <!-- Delete modal confirm dialog -->
  <div class="modal fade" tabindex="-1" role="dialog" id="deleteItemModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p id="deleteWarningContent">
            {% blocktrans %} 
              Ali ste prepričani, da želite izbrisati izdelek?  <br>
              Po izbrisu do tega izdelka ne boste mogli več dostopati.</p>
            {% endblocktrans %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Nazaj</button>
          <button type="button" class="btn btn-danger" id = "editDeleteItemConfirm">Izbriši</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class = "first-row">
    <p class="title-large add-help-text-top">Prepisovanje obstoječih označb</p>     
  </div>

  <div class = "add-label-container">
    <div class="row first-row-label add-label-row">
      <div class="col-md-8 product-first product-main">
        {% if not product_edit %}
          <p class="add-help-text add-help-text-top"> {% trans "1. Prepišite hranilne vrednosti iz označbe" %} </p>
          <span id="add-product-help-1" data-toggle="modal" data-target="#product-help-modal-1" class = "glyphicon glyphicon-question-sign help-icon"></span>
        {% else %}
          <p class="add-help-text add-help-text-top"> {{ product_name }}</p>
        {% endif %}
        <h2>Hranilne vrednosti</h2>
        <div id = "add-label-components-table">
          {% include 'izdelki/food_label_editable.html' with input=True table_id='listComponents' %}
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-md-8 product-main no-margin-top">
        <h4>Možni alergeni</h4>
        <div class="dropdown">
          <button class="btn btn-default add-button dropdown-toggle add-dropdown" type="button" id="allergens-add"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <img src="{% static 'izdelki/resources/img/add_small.png' %}">
          </button>
          <ul class="dropdown-menu dropdown-add" id="addAllergens" aria-labelledby="allergens-add">
            {% for alerg in allergens %}
              <li data-id="{{ alerg.id }}">{{ alerg.name }}</li>
            {% endfor %}
          </ul>
        </div>
        <table id="listAllergens" class="table table-condensed last-row-bordered add-product-table">
          <tbody>
          </tbody>
        </table>
      </div>
    </div>


    <div class="row product-info-row add-label-row">
        <!-- PODATKI O IZDELKU -->
        <div class="col-md-8 product-main">
          <div id="recipeFormData" class="recipe-form-data-add-label">
            {% if product_edit %}
              {# Use nbsp to keep the same margins as when the help text is present #}
              <p class="add-help-text">&nbsp; </p>
            {% else %}
              <p class="add-help-text"> {% trans "2. Vnesite ostale podatke izdelka" %} </p>
              <span id="add-product-help-2" data-toggle="modal" data-target="#product-help-modal-2" class = "glyphicon glyphicon-question-sign help-icon"></span>
            {% endif %}
            <h2> Opis </h2>
            {% include 'izdelki/add_label_product_info.html' %}
          </div>
        </div>
    </div>
  </div>


    <div class = "row margin-top-55">
      <div class="col-md-8 product-main">
        <div id = "ajaxErrorMessage" class="error">
          Prišlo je do napake pri pošiljanju podatkov. Prosim, preverite, da ste podatke pravilno vnesli, in poskusite ponovno.
        </div>

        <div id = "requiredErrorMessage" class="error" hidden>
          Prosim, vnesite vsa zahtevana polja.
        </div>

        <div id = "numericErrorMessage" class="error" hidden>
          V enem od polj, ki sprejema samo številke (na primer teža) se nahajajo znaki, ki niso števke. Prosim preverite, da ste pravilno vnesli vse številske podatke.
        </div>

        <div id = "componentsErrorMessage" class="error" hidden>
          Preverite, da ste vnesli vse hranilne vrednosti.
        </div>

        <div id = "groupErrorMessage" class="error" hidden>
          Vnesite skupino živila.
        </div>

        {% if product_edit %}
          {# Use nbsp to keep the same margins as when the help text is present #}
          <p class="add-help-text add-label-bottom"> &nbsp;</p>
        {% else %}
          <p class="add-help-text add-label-bottom"> {% trans "3. Izvozite oz. shranite tabelo" %} </p>
          <span id="add-product-help-3" data-toggle="modal" data-target="#product-help-modal-3" class = "glyphicon glyphicon-question-sign help-icon"></span>
        {% endif %}
        <h2>Zbrani podatki</h2>
        <div class = "row no-gutters">
          {# EXPORT BUTTON #}
          <div class="dropdown col-sm-6" id="exportDropdown">
            <button class="btn btn-default btn-block product-button dropdown-toggle add-label-button " id="exportDropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
              <!-- <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>  -->
              <img src="{% static 'izdelki/resources/img/left.png' %}">
              Izvozi
            </button>
          
            <div class="dropdown-menu" aria-labelledby="exportDropdownMenuButton">
              <li id="pdf-export-label"><a class="dropdown-item" href="javascript:void(0);">PDF</a></li>
              <div class="dropdown-divider"></div>
              {% if edit %}
                <li id="xls-export-label"><a class="dropdown-item" href="javascript:void(0);">Excel</a></li>
              {% else %}
                <li id="xls-export-disabled" class = "disabled"><a class="dropdown-item" href="javascript:void(0);">Excel *</a></li>
              {% endif %}
            </div>
          </div>

          {# SAVE BUTTON #}
          <div class="col-sm-6">
            <button  class="btn btn-default btn-block product-button add-label-button" type="submit" id="saveLabelEdit"> 
              <!--<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> -->
              <img src="{% static 'izdelki/resources/img/left.png' %}">     
                <span id="saveProduct-text"> Shrani </span>
            </button>
          </div>  
        </div>
      </div>
    </div>
    
{% endblock %}

{% block javascript %}
  
  <script src="{% static 'izdelki/js/jquery.ba-throttle-debounce.js' %}"></script>
  <script src="{% static 'izdelki/js/jquery-ui/jquery.ui.autocomplete.html.js' %}"> </script>
  <script src="{% static 'izdelki/js/jquery.are-you-sure.js' %}"> </script>
  
  <script src="{% static 'izdelki/js/product.js' %}"></script>
  <script src="{% static 'izdelki/js/compare.js' %}"></script>
  <script src="{% static 'izdelki/js/levenshtein.js' %}"></script>

  <script src="{% static 'izdelki/js/add/ingredient_searchbox.js' %}"></script>
  <script src="{% static 'izdelki/js/add/common.js' %}"></script>
  <script src="{% static 'izdelki/js/add/setup.js' %}"></script>
  <script src="{% static 'izdelki/js/add/export.js' %}"></script>
  <script src="{% static 'izdelki/js/add/localstorage.js' %}"></script>
  <script src="{% static 'izdelki/js/add/upload-product-from-label.js' %}"></script>
  <script src="{% static 'izdelki/js/add/upload-product.js' %}"></script>
  <script src="{% static 'izdelki/js/add/add.js' %}"></script>
{% endblock javascript %}