{% load widget_tweaks %}


<form id="recipeForm">
<dl class="product">
  {% for field in recipe_form %}
    {% if field.name != 'is_public' %}

      <dt class="{{ field.css_classes }}">{{ field.label_tag }}</dt>

      {% if field.name != 'neto_weight' %}
        <span data-html="true" data-toggle="tooltip" data-placement="right" title = "<span class ='tooltip-align-left'>{{ field.help_text }}</span>" class = "glyphicon glyphicon-question-sign help-icon "></span>
      {% endif %}

    <dd>
      {% if field.name == 'group' %}
        <div class="group_dropdown_container">
          {{ field|add_class:'productInput form-control main-group-select' }}
        </div>

      {% else %}
        {{ field|add_class:'productInput' }}
      {% endif %}
    </dd>
    {{ field.errors }}
      {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
      {% endif %}
    {% endif %}
  {% endfor %}


    <dt><label for = "id_producer"> Nosilec dejavnosti </label></dt>
    <span data-html="true" data-toggle="tooltip" data-placement="right" title = "<span class ='tooltip-align-left'>Nosilec dejavnosti je ime podjetja ali pridelovalca prehranskega izdelka.</span>" class = "glyphicon glyphicon-question-sign help-icon "></span>
    <input type="text" class = "productInput addLabelInfoTableInput" id = "producerInput" value="{{ product_producer }}"></input>
  
  

</dl>
  {% if user_profile %}
    {# Wrap in label tag to make checkbox checked when label is clicked #}
    <label class="is-public-label"> {{ recipe_form.is_public }} {{ recipe_form.is_public.label }} </label>
    {{ recipe_form.is_public.errors }}
  {% endif %}

</form>