{% load widget_tweaks %}


<form id="recipeForm">
<dl class="product">
  {% for field in recipe_form %}
    {% if field.name != 'is_public' %}

      {% if user.is_company and field.name == 'barcode' %}
        <dt class="{{ field.css_classes }}">{{ field.label_tag }}</dt>
        <span data-html="true" data-toggle="tooltip" data-placement="right" title = "<span class ='tooltip-align-left'>{{ field.help_text }}</span>" class = "glyphicon glyphicon-question-sign help-icon "></span>
      {% endif %}
      
      {% if field.name != 'barcode' %}
        <dt class="{{ field.css_classes }}">{{ field.label_tag }}</dt> 
      {% endif %}

      {% if field.name != 'neto_weight' and  field.name != 'barcode' %}
        <span data-html="true" data-toggle="tooltip" data-placement="right" title = "<span class ='tooltip-align-left'>{{ field.help_text }}</span>" class = "glyphicon glyphicon-question-sign help-icon "></span>
      {% endif %}
    <dd>
      {% if field.name == 'group' %}
        <div class="group_dropdown_container">
          {{ field|add_class:'productInput form-control main-group-select' }}
        </div>
      {% elif field.name == 'neto_weight' %}
        {{ field|add_class:'productInput' }}

      {% elif field.name == 'barcode' %}
        {% if user.is_company %}
          {{ field|add_class:'productInput' }}
        {% endif %}

      {% else %}
        {{ field|add_class:'productInput' }}
      {% endif %}
    </dd>
    {{ field.errors }}
      {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
      {% endif %}
    {% endif %}
  {% endfor %}

  {% if not is_from_label %}
    {% if user.is_company %}
      <dt>Nosilec dejavnosti</dt>
      <dd>{{ user_profile.company_name }}</dd>
    {% endif %}
  {% else %}
    <dt>
      <label for = "id_producer"> Nosilec Dejavnosti </label>
    </dt>

    <dd><input type="text" name="producer" id="id_producer" class="productInput" value="{{product_producer|default_if_none:''}}"></dd>
  {% endif %}

  
  

</dl>
  {% if user_profile %}
    {# Wrap in label tag to make checkbox checked when label is clicked #}
    <label class="is-public-label"> {{ recipe_form.is_public }} {{ recipe_form.is_public.label }} </label>
    {{ recipe_form.is_public.errors }}
  {% endif %}

</form>