{% load widget_tweaks %}
{% load static %}

<!-- Modal confirm dialog -->
<div class="modal fade" tabindex="-1" role="dialog" id="labelResetModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Ali ste prepričani, da želite izbrisati vnešene podatke?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Nazaj</button>
        <button type="button" class="btn btn-danger" id = "labelResetButton">Izbriši</button>
      </div>
    </div>
  </div>
</div>

<form id="labelForm" novalidate>
<div id = "labelDiv" >
  <!--<h2> Hranilne vrednosti </h2>-->
<table id= "listComponentsLabel" class="addLabelComponentsTable">

  <tr>
    <th />
    <th class="text-center">na 100g</th>
    {% for c in components %}
      {% if c.code|lower != "enval"  and c.code|lower != "salt"%}
        <tr id="{{ c.code|lower }}Label">
          <th>
            {% if c.child %}
              - od tega {{ c.name|lower }}
            {% else %}
              {{ c.name }}
            {% endif %} 
            <!--<span class="floatRight">(g)</span>-->
            <span class="float-right">
              <span class="unit-change">
                <small class="product-table-unit-select" data-placement="top" data-popover-content="#{{ c.code|lower }}Label-unit-popover"
                   data-toggle="popover" data-trigger="focus" tabindex="-1">
                  (<span id="{{ c.code|lower }}Label-unit">{{ c.def_unit }}</span>)
                </small>

                <div class="hidden" id="{{ c.code|lower }}Label-unit-popover">
                  <div class="popover-body">
                    <ul id="{{ c.code|lower }}Label-units">
                      {% for u in c.units %}
                        <li>{{ u }}</li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </span>
            </span>

          </th>
          <td>
            <input type="text" class ="addLabelComponentsTableInput numericInput productInput" required/>
          </td>
        </tr>
      {% endif %} 
    {% endfor %}

    <!-- add in the salt component -->
    <tr id="naLabel">
          <th>
            Sol
            <!--<span class="floatRight">(g)</span>-->
            <span class="float-right">
              <span class="unit-change">
                <small class="product-table-unit-select" data-placement="top" data-popover-content="#naLabel-unit-popover"
                   data-toggle="popover" data-trigger="focus" tabindex="-1">
                  (<span id="naLabel-unit">g</span>)
                </small>

                <div class="hidden" id="naLabel-unit-popover">
                  <div class="popover-body">
                    <ul id="naLabel-units">
                        <li>g</li>
                        <li>mg</li>
                    </ul>
                  </div>
                </div>
              </span>
            </span>
          </th>
          <td>
            <input class ="addLabelComponentsTableInput numericInput saltInput" required type="text"/>
          </td>
        </tr>
    <!-- End salt -->

    <tr id='addComponentLabel'>
      <!--<th> Dodaj kategorijo </th> -->
      <!--<td> <input id="addLabelAddComponent" class= "addLabelComponentsNewComponent" type="text" /></td> -->
      <th><div class="ui-widget"><input id="componentsInputLabel" class="inputLikeTd labelInput" type="text" placeholder="Dodaj parameter ">
    </tr>
</table>



<h4>Možni alergeni</h4>
<div class="dropdown">
  <button class="btn btn-default add-button dropdown-toggle" type="button" id="allergens-add"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <img src="{% static 'izdelki/resources/img/add_small.png' %}">
  </button>
  <ul class="dropdown-menu dropdown-add" id="addAllergensLabel" aria-labelledby="allergens-add">
    {% for alerg in allergens %}
      <li data-id="{{ alerg.id }}">{{ alerg.name }}</li>
    {% endfor %}
  </ul>
</div>

<table id="listAllergensLabel" class="table table-condensed last-row-bordered add-product-table">
  <tbody>
  </tbody>
</table>


<div class = "addLabelInfoTable">  
  <!--<h2> Opis </h2>-->
  {% for field in recipe_form %}
    {% if field.name != 'is_public' %}
      <div class="{{ field.css_classes }} add-label-header">
        {{ field.label_tag }} 
        {% if field.name != 'neto_weight' %}
          <span data-html="true" data-toggle="tooltip" data-placement="right" title = "<span class ='tooltip-align-left'>{{ field.help_text }}</span>" class = "glyphicon glyphicon-question-sign help-icon "></span>
          {% endif %}
      </div>
      <div class ="add-label-input-wrapper">
      {% if field.name == 'group' %}
        <div class="group_dropdown_container">
          {{ field|add_class:'productInput form-control addLabelInfoTableInput' }}
        </div>
      {% elif field.name == 'neto_weight' %}
        {{ field|add_class:'productInput addLabelInfoTableInput' }}
      {% else %}
        {{ field|add_class:'productInput addLabelInfoTableInput' }}
      {% endif %}
      </div>
      {{ field.errors }}
    {% endif %}
  {% endfor %}
  
  <div class="add-label-header">
    <label for="producerInput">Nosilec dejavnosti</label>
    <span data-html="true" data-toggle="tooltip" data-placement="right" title = "<span class ='tooltip-align-left'>Nosilec dejavnosti je ime podjetja ali pridelovalca prehranskega izdelka.</span>" class = "glyphicon glyphicon-question-sign help-icon "></span>
  </div>
  <div class ="add-label-input-wrapper">
    <input type="text" class = "productInput addLabelInfoTableInput" id = "producerInput"></input>
  </div>

</div>
  
  <div class="is_public_container">
    {# Wrap in label tag to make checkbox checked when label is clicked #}
    <label class="is-public-label"> {{ recipe_form.is_public }} {{ recipe_form.is_public.label }} </label>
    {{ recipe_form.is_public.errors }}
  </div>
</form>

  <div id = "ajaxErrorMessage" class="error">
    Prišlo je do napake pri pošiljanju podatkov. Prosim, preverite, da ste podatke pravilno vnesli, in poskusite ponovno.
  </div>

  <div id = "requiredErrorMessage" class="error" hidden>
    Prosim, vnesite vsa zahtevana polja.
  </div>

  <div id = "numericErrorMessage" class="error" hidden>
    V enem od polj, ki sprejema samo številke (na primer teža) se nahajajo znaki, ki niso števke. Prosim preverite, da ste pravilno vnesli vse številske podatke.
  </div>

  <div class = "addLabelButtons">
    <div class = "row no-gutters">
      <div class = "col-sm-6">
        <button class="btn btn-default product-button" type="reset" id="resetIngredient"> 
          <img src="{% static 'izdelki/resources/img/remove.png' %}">  
          <span> Počisti vnos </span>
        </button> 
      </div>
      
      <div class = "col-sm-6">
        <button class="btn btn-default product-button" type="button" id="saveIngredientFromLabel">
          <img src="{% static 'izdelki/resources/img/left.png' %}">  
          <span id="saveLabel-text"> Shrani </span>
        </button>
      </div>
    </div>
  </div>

</div>


