{% extends "izdelki/base.html" %}
{% load static %}
{% load custom_tags %}


{% block content %}
  <div class="row">
    <div class="col-md-12">
          <div id="search-no-results">Prišlo je do napake pri povezavi z podatkovno bazo. Prosim ponovno poizkusite kasneje</div> 
    </div>
{% endblock %}