﻿{% extends "izdelki/base.html" %}
{% load static %}
{% load custom_tags %}
{% load i18n %}


{% block styles %}
<link href="{% static 'izdelki/css/dashboard.css'  %}" rel="stylesheet">
{% endblock %}


{% block content %}
<script type="text/javascript">
    var csrf_token = '{{ csrf_token|safe }}';
</script>

  <!-- HELP MODALS -->
  <div class="modal fade" tabindex="-1" role="dialog" id="dashboard-help-modal-1">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p> 
            Izračunane označbe so prehranske označbe, ki jih izračunamo na osnovi sestavin in morebitnega postopka priprave.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Nazaj</button>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" tabindex="-1" role="dialog" id="dashboard-help-modal-2">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p> 
            Prepisane označbe so običajno označbe tujih ponudnikov, za katere prepišemo podatke iz prehranske označbe izdelka.
          </p>
          <p>
            Vse označbe prepisane s strani potrošnika preverimo pred javno uporabo.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Nazaj</button>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal confirm dialog -->
  <div class="modal fade" tabindex="-1" role="dialog" id="deleteItemModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p id="deleteWarningContent">Ali ste prepričani, da želite izbrisati izdelek?  <br>
             Po izbrisu do tega izdelka ne boste mogli več dostopati.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Nazaj</button>
          <button type="button" class="btn btn-danger" id = "dashboardDeleteItemConfirm">Izbriši</button>
        </div>
      </div>
    </div>
  </div>




 <!-- <div id="wrapper">
    <div class="container"> -->
      <div class="dashboard-header ">
        {% if user_profile.company_name %}
          <div class="dashboard-header-name">{{user_profile.company_name}}</div>

        {% else %}
          {% if user_profile.first_name or user_profile.last_name %}
            <div class="dashboard-header-name">{{user_profile.first_name|default_if_none:""}} {{user_profile.last_name|default_if_none:""}} </div>
          {% else %}
            <div class="dashboard-header-name">{{user_profile.email}}</div>
          {% endif %}
        {% endif %}

        <div class="dashboard-header-button-containers">
          {# don't put a line break between the two a elements to prevent a space between the buttons #}
          <a class="btn btn-default product-button" href="{% url 'edit_user' %}" role="button">Nastavitve</a><a class="btn btn-default product-button" href="{% url 'logout' %}" role="button">Odjava</a>
        </div>
      </div>

      <div class="error" id="deleteError" hidden>
        Prišlo je do napake pri izbrisu izdelka. Prosim osvežite stran in poskusite ponovno
      </div>

      <div class="error" id="deleteLabelInredientError" hidden>
        Izdelkov dodanih iz označbe ni mogoče izbrisati
      </div>

      <div class = "dashboard-select-product-type">
        <div id="dashboard-select-recipe-wrapper">
          <input type = "radio" id="dashboard-select-type-recipe" name = "dashboard-select-type" checked> 
          <label for = "dashboard-select-type-recipe">Izračunane označbe ({{ total_recipes }})</label>
        </div>

        <div id="dashboard-select-label-wrapper">
          <input type = "radio" id="dashboard-select-type-label" name = "dashboard-select-type">
          <label for = "dashboard-select-type-label">Prepisane označbe ({{ total_labels }})</label> 
        </div>  
      </div>

      <div id = "dashboard-items">
        <div id="dashboard-recipes" class = "infinite-container dashboard-item-container col-sm-6">
            <div class="dashboard-header-container">
            <h1> 
              Izračunane označbe ({{ total_recipes }}) 
            </h1> 
              <span id="dashboard-help-1" data-toggle="modal" data-target="#dashboard-help-modal-1" class = "glyphicon glyphicon-question-sign help-icon"></span>
              <a href = "{% url 'add' %}">
                <img class ="dashboard-header-add-img" src = '{% static "izdelki/resources/img/add-new.png" %}' alt= "Dodaj Izdelek">
              </a>
            </div>
            
            {% for product in food %}
            {% with i=forloop.counter|stringformat:"s" %}
            {% with photo_picker_id="pick-photo-"|add:product.CODE %}
            {% with photo_id="product-img-dash-"|add:product.CODE %}
              <div class="product-main-dash infinite-item {% if not product.IS_RECIPE %} move-to-labels {% endif %}">             

                <!-- Produt photo box -->
                <div class = "product-box  row no-gutters">
                  <div class="product-photo-container col-md-2 col-xs-3">
                    {% if product.IS_RECIPE %}
                    <a href = "{% url 'edit' product_id=product.CODE %}" class = "no-decoration">
                    {% else %}
                    <a href = "{% url 'edit_label' product_id=product.CODE %}" class = "no-decoration">
                    {% endif %}
                      <div id={{photo_id}} class="dash-photo-container">
                      {% if product.PHOTO %}
                          <img src="{{ product.PHOTO }}" alt="{{ product.COMMERCIAL_NAME }} - slika" class = "dashboard-img">
                      {% else %}
                        {#<div id={{photo_id}} class="dashboard-img crossed-out">#}
                        {% if not product.IS_RECIPE %}
                            <img src="{% static 'izdelki/resources/img/product-photo-placeholer.png' %}" alt="{{ product.COMMERCIAL_NAME }} - slika" class = "dashboard-img inactive label-status-{{ product.STATUS|default:'entered' }}">
                        {% else %}
                            <img src="{% static 'izdelki/resources/img/product-photo-placeholer.png' %}" alt="{{ product.COMMERCIAL_NAME }} - slika" class = "dashboard-img inactive">
                        {% endif %}
                      {% endif %}  
                      </div>
                    </a> 
                  </div>
                  

                  <!-- Produt main box -->
                  <div class="product-main-container col-md-10 col-sm-9">
                    <div class = "text-one-line-ellipsis dashboard-product-title">
                      {% if product.IS_RECIPE %}
                        <a href = "{% url 'edit' product_id=product.CODE %}" class = "no-decoration">
                      {% else %}
                        <a href = "{% url 'edit_label' product_id=product.CODE %}" class = "no-decoration">
                      {% endif %}  

                      <span class = "font-weight-bold dashboard-buttons" data-toggle="tooltip" data-placement="top" title="{{ product.COMMERCIAL_NAME }}">
                            {{ product.COMMERCIAL_NAME }}
                      </span>
                      </a>
                      
                      {% if not product.IS_RECIPE %}
                        <div>
                          {{ product.STATUS|get_status_string }}
                        </div>
                      {% else %}
                        <div>
                          {# TODO: do recipes need to be manually confirmed? #}
                          {# an empty div to keep spacing consistent #}
                          <span> &nbsp </span>
                        </div>
                      {% endif %}

                    </div>

                    <div class = "font-weight-bold dashboard-buttons dashboard-bottom-menu-container">
                      <span class="dropdown-toggle dashboard-button" 
                            id="exportDropdownMenuButton" data-toggle="dropdown" 
                            aria-haspopup="true" aria-expanded="false"> 
                        <img src="/static/izdelki/resources/img/left.png"> Izvozi
                      </span>
                      <div class="dropdown-menu" aria-labelledby="exportDropdownMenuButton">
                        <li id="pdf-export">
                          <a class="dropdown-item" href="/get_pdf/{{product.CODE}}">PDF</a>
                        </li>
                        <div class="dropdown-divider"></div>
                        <li id="xls-export">
                          <a class="dropdown-item" href="/get_xls/{{product.CODE}}">Excel</a>
                        </li>
                      </div>

                      {% if product.IS_RECIPE %}
                        <span id="{{ product.CODE }}-delete-button" class="dashboard-delete-item dashboard-button"> 
                          <img src="/static/izdelki/resources/img/delete-new.png"> Izbriši 
                        </span>
                      {% endif %}

                    </div>
                  </div>
                </div>
              </div>

            {% endwith %}
            {% endwith %}
            {% endwith %}

            {% empty %}
            <span class="dashboard-empty-text"> {% trans "Shranili niste še nobenega izdelka. Če želite dodati izdelek, kliknite" %} <a href ="{% url 'add' %}"> {% trans " tukaj." %} </a></span> 
            {% endfor %}
        </div>

        <div id="dashboard-labels" class = "dashboard-item-container col-sm-6">
          <div class="dashboard-header-container">
          <h1> 
            Prepisane označbe ({{ total_labels }}) 
            </h1>
            <span id="dashboard-help-2" data-toggle="modal" data-target="#dashboard-help-modal-2" class = "glyphicon glyphicon-question-sign help-icon"></span>
            <a href = "{% url 'add_label' %}">
              <img class ="dashboard-header-add-img" src = '{% static "izdelki/resources/img/add-new.png" %}' alt= "Dodaj Izdelek">
            </a>
          </div>
        </div>
      </div>



      <div class="loading" style="display: none;">
          {% trans "Več rezultatov se nalaga..." %}
      </div>
      {% if food.has_next %}
        <a class="infinite-more-link" href="?page={{ food.next_page_number }}"></a>
      {% endif %}
{% endblock %}

{% block javascript %}
  <script src="{% static 'izdelki/js/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'izdelki/js/waypoints/infinite.min.js' %}"></script>
  <script src="{% static 'izdelki/js/dashboard.js' %}"></script>
{% endblock javascript %}
