{% extends "izdelki/base.html" %}
{% load static %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      <h1>Polnozrnate testenine Zlato polje</h1>
    </div>
  </div>
  <div class="row">
    <!-- HRANILNE VREDNOSTI IZDELKA -->
    <div class="col-md-9" id="product-main">
      <h2>Sestavine</h2>
      <table class="table table-condensed">
        <tr>
          <th>Vsebovana živila</th>
          <td>pšenični polnozrnati durum zdrob</td>
        </tr>
        <tr>
          <th rowspan="2">Možni alergeni</th>
          <td>jajce</td>
        </tr>
        <tr>
          <td>soja</td>
        </tr>
      </table>

      <h2>Hranilne vrednosti</h2>
      <table class="table table-condensed table-bordered" id="table-values">
        <tr>
          <th></th>
          <th>na 100 g</th>
          <th>na porcijo (200 g)</th>
          <th>% PV na 2000 kcal</th>
        </tr>
        <tr>
          <th>Energijska vrednost
            <select class="product-table-unit-select">
              <option>kJ</option>
              <option selected="selected">kcal</option>
            </select>
          </th>
          <td>339 kcal</td>
          <td>315 kcal</td>
          <td>16 %</td>
        </tr>
        <tr>
          <th>Maščobe
            <select class="product-table-unit-select">
              <option>mg</option>
              <option selected="selected">g</option>
            </select>
          </th>
          <td>1,8 g</td>
          <td>2,0 g</td>
          <td>3 %</td>
        </tr>
        <tr>
          <th>- od tega nasičene mašč.
            <select class="product-table-unit-select">
              <option>mg</option>
              <option selected="selected">g</option>
            </select>
          </th>
          <td>0,6 g</td>
          <td>0,4 g</td>
          <td>2 %</td>
        </tr>
        <tr>
          <th>Ogljikovi hidrati
            <select class="product-table-unit-select">
              <option>mg</option>
              <option selected="selected">g</option>
            </select>
          </th>
          <td>65,0 g</td>
          <td>58,0 g</td>
          <td>21 %</td>
        </tr>
        <tr>
          <th>- od tega sladkorji
            <select class="product-table-unit-select">
              <option>mg</option>
              <option selected="selected">g</option>
            </select>
          </th>
          <td>4,0 g</td>
          <td>1,6 g</td>
          <td>2 %</td>
        </tr>
        <tr>
          <th>Beljakovine
            <select class="product-table-unit-select">
              <option>mg</option>
              <option selected="selected">g</option>
            </select>
          </th>
          <td>11,0 g</td>
          <td>12,0 g</td>
          <td>24 %</td>
        </tr>
        <tr>
          <th>Sol
            <select class="product-table-unit-select">
              <option>mg</option>
              <option selected="selected">g</option>
            </select>
          </th>
          <td>0,01 g</td>
          <td>0,32 g</td>
          <td>5 %</td>
        </tr>
      </table>
      <button class="btn btn-default product-button" type="submit"> <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span> primerjaj</button>
      <button class="btn btn-default product-button" type="submit"> <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> izvozi</button>
    </div>

    <!-- PODATKI O IZDELKU -->
    <div class="col-md-3" id="product-sidebar">
      <div id="product-img">
        <img src="{% static "izdelki/resources/img/zlato_polje_polnozrnate_testenine.png" %}" alt="Polnozrnate testenine Zlato polje - slika" class="img-responsive">
      </div>
      <dl class="product">
        <dt>Prodajno ime</dt>
        <dd>polnozrnate testenine Zlato polje</dd>
        <dt>Naziv živila</dt>
        <dd>sušene polnozrnate testenine</dd>
        <dt>Država porekla</dt>
        <dd>Slovenija</dd>
        <dt>Neto količina</dt>
        <dd>500 g</dd>
        <dt>Črtna koda</dt>
        <dd>3 838700 002171</dd>
        <dt>Nosilec dejavnosti</dt>
        <dd>Žito d.d.</dd>
        <dt>Naslov</dt>
        <dd>Šmartinska c. 154, 1529 LJ</dd>
        <dt>Spletna stran</dt>
        <dd><a href="http://www.zito.si">www.zito.si</a></dd>
        <dt>Telefon</dt>
        <dd>080 30 02</dd>
      </dl>
    </div>
  </div>
{% endblock %}