﻿{% extends "izdelki/base.html" %}
{% load static %}

{% block styles %}
<link href="{% static 'izdelki/css/search.css'  %}" rel="stylesheet">
{% endblock %}

{% block content %}
  <script type="text/javascript">
    var envalkJ = "{{ product.COMPONENTS.ENVAL.0 }}";
    var originalComponents = {{ original_components_grams|safe }};
    envalkJ = parseFloat(envalkJ);
  </script>

  <div class="row first-row">
    <div class="col-md-8">
      <h1 class="product-name">{{ product.COMMERCIAL_NAME }}</h1>
    </div>
  </div>
  <div class="row">
    <!-- HRANILNE VREDNOSTI IZDELKA -->
    <div class="col-md-8 product-main">
      
      {% if product.INGREDIENTS or product.DIETS %}
      <h2>Sestavine</h2>
        <table id="ingredientsDetailTable" class="table table-condensed">
          {%  for ingredient in product.INGREDIENTS %}
          <tr>
            {% if forloop.first %}
            <th rowspan="{{ product.INGREDIENTS|length }}">Vsebovana živila</th>
            {% endif %}
            <td>{{ ingredient.NAME }}</td>
            <td class="weight">{{ ingredient.WEIGHT }} g</td>
          </tr>
          {% endfor %}
      {% endif %}
        {% if product.DIETS %}
          {% for diet in product.DIETS %}
          <tr>
            {% if forloop.first %}
            <th rowspan="{{ product.DIETS|length }}">Možni alergeni</th>
            {% endif %}
            <td colspan="2">{{ diet.NAME }}</td>
          </tr>
          {% endfor %}
        {% endif %}

        {% if product.COOKMETH %}
          <tr>
            <th>Postopek obdelave</th>
            <td colspan="2">{{ product.COOKMETH.NAME|lower }}</td>
          </tr>
        {% endif %}
      </table>

      <h2>Hranilne vrednosti</h2>
      {% include 'izdelki/food_label.html' with table_id='table-values' %}
      

      <div id="detailButtonContainer" class = "row no-gutters">
        <!-- Edit Button -->
        {% if edit %}
          <div class="col-xs-6">
            {% if is_recipe %}
              <a class="btn btn-default btn-block product-button first-button" href="{% url 'edit' product_id=product.CODE %}"> <img src="{% static 'izdelki/resources/img/sort_inactive-new.png' %}"> Uredi</a>
            {% else %}
              <a class="btn btn-default btn-block product-button first-button" href="{% url 'edit_label' product_id=product.CODE %}"> <img src="{% static 'izdelki/resources/img/sort_inactive-new.png' %}"> Uredi</a>
            {% endif %}
          </div>
        {% else %}
          <!-- Compare Button -->
          <div class="col-xs-6">
            <button class="btn btn-default btn-block product-button" type="submit" id="compareProduct"> <img src="{% static 'izdelki/resources/img/sort_inactive-new.png' %}"> Primerjaj</button>
          </div>
        {% endif %}
        <!-- Export Button -->
        <div class="col-xs-6">
        <div class="dropdown" id="exportDropdown">
          <button class="btn btn-default btn-block product-button dropdown-toggle" id="exportDropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
            <img src="{% static 'izdelki/resources/img/left.png' %}">
            Izvozi
          </button>
          <div class="dropdown-menu" aria-labelledby="exportDropdownMenuButton">
            <li><a class="dropdown-item" href="{% url 'get_pdf' product_id=product.CODE %}">PDF</a></li>
            <div class="dropdown-divider"></div>
            {% if user %}
              <li><a class="dropdown-item" href="{% url 'get_xls' product_id=product.CODE %}">Excel</a></li>
            {% else %}
              <li class = "disabled xls-export-disabled"><a class="dropdown-item" href="#">Excel *</a></li>
            {% endif %}
          </div>
        </div>
        </div>
     

      </div>
    </div>

    <!-- PODATKI O IZDELKU -->
    <div class="col-md-4 product-sidebar detail-sidebar">
      {% if product.PHOTO %}
        <h2 id="product-sidebar-image-header-detail"> Slika </h2>
        <div id="product-img" class="text-center {{product.PHOTO|yesno:'has-image-detail,'}} product-name product-img-detail">
          <img src="{{ product.PHOTO }}" alt="{{ product.COMMERCIAL_NAME }} - slika" class="img-responsive center-block">
        </div>
      {% endif %}
      <div id="product-sidebar-details">
        <h2> Opis </h2>
        <dl class="product">
          <dt class="{{ product.COMMERCIAL_NAME|yesno:',no-info' }}">Prodajno ime</dt>
          <dd class="product-name">{{ product.COMMERCIAL_NAME|default_if_none:"" }}</dd>
          
          <dt class="{{ product.NAME|yesno:',no-info' }}">Naziv živila</dt>
          <dd class="product-name">{{ product.NAME|default_if_none:"" }}</dd>
          
          <dt class="{{ product.COUNTRY|yesno:',no-info' }}">Država porekla</dt>
          <dd>{{ product.COUNTRY|default_if_none:"" }}</dd>
          
          <dt class="{{ product.NETOWEIGHT|yesno:',no-info' }}">Neto količina (g)</dt>
          <dd>{{ product.NETOWEIGHT|default_if_none:"" }}</dd>
          
          <dt class="{{ product.BARCODE|yesno:',no-info' }}">Črtna koda</dt>
          <dd>{{ product.BARCODE|default_if_none:"" }}</dd>
          
          <dt class="{{ product_producer|yesno:',no-info' }}">Nosilec dejavnosti</dt>
          {# <dd>{{ product_company.company_name|default_if_none:"" }}</dd> #}
          <dd>{{ product_producer|default_if_none:"" }}</dd>
          {% comment %}
          
          <dt class="{{ product_company.address|yesno:',no-info' }}">Naslov</dt>
          <dd>{{ product_company.address|default_if_none:"" }}</dd>
          
          <dt>Spletna stran</dt>
          <dd><a href="{{ product_company.website }}" target="_blank">{{ product_company.website|default_if_none:"" }}</a></dd>
          
          <dt>Telefon</dt>
          <dd>{{ product_company.phone|default_if_none:"" }}</dd>
          {% endcomment %}
        </dl>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  <script src="{% static 'izdelki/js/product.js' %}"></script>
  <script src="{% static 'izdelki/js/compare.js' %}"></script>
  <script src="{% static 'izdelki/js/detail.js' %}"></script>
{% endblock javascript %}
