{% extends "izdelki/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block styles %}
<link href="{% static 'izdelki/css/user_pages.css'  %}" rel="stylesheet">
{% endblock %}

{% block content %}
  <div id="edit-user-data-wrapper" class = "invisible">
    <div class="row about-pages first-row">
      <div class="col-md-8">
        <div><a href = "{% url 'dashboard' %}">Nazaj na profil</a></div>
        <h1 class="title-large">Podatki o uporabniku</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <form action="{% url 'edit_user' %}" novalidate id="register_form" class="form-horizontal" method="post">
          {% csrf_token %}

          {% if user.company_profile %}
            {% crispy form_basic %}
            {% crispy form_company %}
          {% else %}
            {% crispy form_basic %}
          {% endif %}
          <div class="form-group">
            <div class=" col-sm-offset-2 col-sm-8">
              
              <button id ="edit-user-data-edit-off" type="button" class="btn btn-default edit-user-form-button">Prekliči</button>
              <button id ="edit-user-data-edit-submit" type="submit" class="btn btn-default btn-primary edit-user-form-button">Shrani</button>

              <button id ="edit-user-data-edit-on" type="button" class="btn btn-default btn-primary edit-user-toggle-button" hidden>Spremeni podatke</button>
              <button id ="edit-user-password-edit-on" type="button" class="btn btn-default btn-primary edit-user-toggle-button" hidden>Spremeni geslo</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>


  <div id = "password-change-wrapper" hidden>
    <div class="row about-pages">
      <div class="col-md-8">
        <h1 class="title-large">Sprememba gesla</h1>
      </div>
    </div>


    <div class="row">
      <div class="col-md-8">
        <form action="{% url 'password_change' %}" class="form-horizontal user-form" method="post">
          {% csrf_token %}
          <ul>
          {% for k,v in password_errors.items %}
            {% for error in v %}
            <li> {{ error }} </li>
            {% endfor %}
          {% endfor %}
          </ul>
          {% for field in form_password.visible_fields %}
          <div class="form-group" >
            {{ field.errors }}
            <label class="control-label col-sm-2"> {{ field.label}} <span class="asteriskField">*</span> </label>
            <div class="col-sm-10"> {{ field|add_class:"textinput textInput form-control" }} </div>
          </div>
          {% endfor %}
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-8">
              <button id="edit-user-password-edit-off" type="button" class="btn btn-default">Prekliči</button>
              <button type="submit" class="btn btn-default btn-primary">Shrani</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>


{% endblock %}

{% block javascript %}
  
  <script src="{% static 'izdelki/js/edit_user.js' %}"></script>
{% endblock javascript %}