{% load static %}
{% load staticfiles %}




<!-- pdf library needs inline CSS-->
{% block extra_style %}
   <meta http-equiv="content-type" content="text/html; charset=utf-8"> 

   <style>
        /*PDF specific layout commands*/
        /*Normal css layout commands like left, top don't work*/
        @page {
          size: a4 portrait;
          @frame content_frame {          /* Content Frame */
              left: 100pt;
              top: 70pt;
          }
        }


        /*Define a custom font so that unicode characters such as č,š and ž show up properly*/
        @font-face {
          font-family: FreeSans;
          /*This works, but requires the use of the collectstatic even on development builds*/
          src: url("{% static 'izdelki/fonts/FreeSans.ttf' %}");
        }

          @font-face {
          font-family: FreeSansBold;
          /*This works, but requires the use of the collectstatic even on development builds*/
          src: url("{% static 'izdelki/fonts/FreeSansBold.ttf' %}");
        }

        body {
          font-family: FreeSans;
          font-size: 16px;
        }


        table{
              table-layout: fixed;
        }

        td {
          border: 1px solid black;
          text-align: right;
          margin-right:0.2em;
          padding-top:0.2em;
        }

        th {
          border: 1px solid black;
          margin-left:0.3em;
          padding-top:0.2em;
          text-align: left;
          font-family: FreeSansBold;
          width:250px;

        }

        th.component-value-header {
          width:100px;
          text-align: center;
        }



    </style>  
{% endblock %}


{% block content %}
    <div>
        <h1>{{product.COMMERCIAL_NAME}}</h1>
        {% comment %}
        

        <h2>Sestavine</h2>
        <table id="ingredientsDetailTable" class="table table-condensed">
        {% if product.INGREDIENTS %}
          {%  for ingredient in product.INGREDIENTS %}
          <tr>
            {% if forloop.first %}
            <th rowspan="{{ product.INGREDIENTS|length }}">Vsebovana živila</th>
            {% endif %}
            <td>{{ ingredient.NAME }}</td>
            <td class="weight">{{ ingredient.WEIGHT }} g</td>
          </tr>
          {% endfor %}
        {% endif %}

        {% if product.DIETS %}
          {% for diet in product.DIETS %}
          <tr>
            {% if forloop.first %}
            <th rowspan="{{ product.DIETS|length }}">Možni alergeni</th>
            {% endif %}
            <td colspan="2">{{ diet.NAME }}</td>
          </tr>
          {% endfor %}
        {% endif %}

        {% if product.COOKMETH %}
          <tr>
            <th>Postopek obdelave</th>
            <td colspan="2">{{ product.COOKMETH.NAME|lower }}</td>
          </tr>
        {% endif %}
        </table>

        {% endcomment %}
        <div id="foodLabelTableContainer">
          {% include 'izdelki/food_label_pdf.html' with table_id='table-values' %}
        </div>
    </div>
{% endblock %}