{% load custom_tags %}
{% load static %}
{% load custom_tags %}
<table class="table table-condensed table-bordered product-table label-edit-components-table" id= "listComponentsLabel">
  <tbody>
    <tr>
      <th></th>
      <th>na 100 g</th>
    </tr>
    
    {% for c in components %}
      {% if c.code|lower != "enval"  and c.code|lower != "salt"%}
        <tr id="{{ c.code|lower }}Label">
          <th>
            {% if c.child %}
              - od tega {{ c.name|lower }}
            {% else %}
              {{ c.name }}
            {% endif %} 
            <!--<span class="floatRight">(g)</span>-->
            <span class="unit-change {% if c.code not in unit_change_codes %}hidden{% endif %}">
              <small class="product-table-unit-select" data-placement="top" data-popover-content="#{{ c.code|lower }}Label-unit-popover"
                 data-toggle="popover" data-trigger="focus" tabindex="-1">
                (<span id="{{ c.code|lower }}Label-unit">{{ c.def_unit }}</span>)
              </small>

              <div class="hidden" id="{{ c.code|lower }}Label-unit-popover">
                <div class="popover-body">
                  <ul id="{{ c.code|lower }}Label-units">
                    {% for u in c.units %}
                      <li>{{ u }}</li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </span>

          </th>
          <td>
            {% if product_components %}
              <input id="{{ c.code }}-label-input"type="text" class ="numericInput label-table-input" value="{{ product_components|get_dict_item:c.code|floatformat:-3|trim_trailing_zeroes }}" />
            {% else %}
              <input id="{{ c.code }}-label-input"type="text" class ="numericInput label-table-input" value="" />
            {% endif %}
            <label id="{{ c.code }}-unit-label" class = "label-table-units" for="{{ c.code }}-label-input"> 
              {{ c.def_unit }} 
            </label>
          </td>
        </tr>
      {% endif %} 
    {% endfor %}
    <!-- add in the salt component -->
    <tr id="naLabel">
      <th>
        Sol
        <!--<span class="floatRight">(g)</span>-->
        <span class="unit-change">
          <small class="product-table-unit-select" data-placement="top" data-popover-content="#naLabel-unit-popover"
             data-toggle="popover" data-trigger="focus" tabindex="-3">
            (<span id="naLabel-unit">g</span>)
          </small>

          <div class="hidden" id="naLabel-unit-popover">
            <div class="popover-body">
              <ul id="naLabel-units">
                  <li>g</li>
                  <li>mg</li>
              </ul>
            </div>
          </div>
        </span>
      </th>
      <td>
        {% if product_components %}
          <input  id="na-label-input" type="text" class ="numericInput saltInput label-table-input" value="{{ product_components|get_dict_item:'SALT'|floatformat:-3|trim_trailing_zeroes }}"/>
        {% else %}
          <input  id="na-label-input" type="text" class ="numericInput saltInput label-table-input" value=""/>
        {% endif %}
        <label for="na-label-input" id="na-unit-label" class = "label-table-units" for="na-label-input"> 
          g
        </label>
      </td>
    </tr>
    <!-- End salt -->
    {% if input %}
    <tr id='addComponentLabel'  class='componentsInput-container'>
      <th><div class="ui-widget"><input id="componentsInputLabel" class="inputLikeTd" type="text" placeholder="Dodaj parameter ">
    </tr>
    {% endif %}
  </tbody>
</table>
