{% load custom_tags %}
{% load static %}

<table class="table table-condensed table-bordered product-table" id="{{ table_id }}">
  <tbody>
    <tr>
      <th></th>
      <th>na 100 g</th>
      <th id="port-header">na porcijo<br> <span id="port-size">
        {% if input %}
          <input type="text" class="productInput gather number numericInput" name="meal_size" id="inputPortionSize"
                 value="">
          <span id="inputPortionSizeUnits"></span></span></th>
        {% else %}
        {{ product.SERVING.MEALSIZE|floatformat:"-1"|default_if_none:0 }}
        </span> g</th>
        {% endif %}
      
      <th id="port-percent-header">% PV na 2000 kcal</th>
    </tr>
  
    {% for c in components %}
    <tr id="{{ c.code|lower }}">
      <th>
      {% if c.child %}
        - od tega {{ c.name|lower }}
      {% else %}
        {{ c.name }}
      {% endif %} 

      {% if c.code in unit_change_codes %}
      <span class = "float-right">
        <span class="unit-change">
          <small class="product-table-unit-select" data-placement="top" data-popover-content="#{{ c.code|lower }}-unit-popover"
             data-toggle="popover" data-trigger="focus" tabindex="0">
            (<span id="{{ c.code|lower }}-unit">{{ c.def_unit }}</span>)
          </small>

          <div class="hidden" id="{{ c.code|lower }}-unit-popover">
            <div class="popover-body">
              <ul id="{{ c.code|lower }}-units">
                {% for u in c.units %}
                  <li>{{ u }}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </span>
      </span>
        
      {% endif %}


      </th>
      <td id="{{ c.code|lower }}-100"><span class="value">{{ product.COMPONENTS|get_item:c.code|default:0 }}</span>
        <span class="units">{{ c.def_unit }}</span></td>
      <td id="{{ c.code|lower }}-port"><span class="value"></span> <span class="units">{{ c.def_unit }}</span></td>
      <td id="{{ c.code|lower }}-per"><span class="value">
        {{ product_percentages|get_item:c.code|floatformat:"-1"|default_if_none:0 }}</span> %</td>
    </tr>
    {% endfor %}
    {% if input %}
      <tr>
        <td class="containsInput componentsInput-container"><div class="ui-widget "><input id="componentsInput" class="inputLikeTd" type="text" placeholder="Dodaj parameter">
        </div></td>
        <td colspan="3"></td>
      </tr>
    {% endif %}
  </tbody>
</table>
