{% load custom_tags %}

<table class="table table-condensed table-bordered product-table" id="{{ table_id }}">
  <tbody>
    <tr id="componentTableHeader">
      <th></th>
      <th class="component-value-header">na 100 g</th>
      <th class="component-value-header">na porcijo{% if input %}*{% endif %} <br> (<span id="port-size">
        {% if input %}
          <input type="text" class="productInput gather number numericInput" name="meal_size" id="inputPortionSize"
                 value="0">
        {% else %}
        {{ product.SERVING.MEALSIZE|default_if_none:0 }}
        {% endif %}
      </span> g)</th>
      <th class="component-value-header">% PV na 2000 <br> kcal</th>
    </tr>

    {% for c in components %}
    <tr id="{{ c.code|lower }}">
      <th>
      {% if c.child %}
        - od tega {{ c.name|lower }}
      {% else %}
        {{ c.name }}
      {% endif %}
        <span class="unit-change">
          <small class="product-table-unit-select" data-placement="top" data-popover-content="#{{ c.code|lower }}-unit-popover"
             data-toggle="popover" data-trigger="focus" tabindex="0">
            (<span id="{{ c.code|lower }}-unit">{{ c.def_unit }}</span>)
          </small>

          
        </span>
      </th>
      <td id="{{ c.code|lower }}-100"><span class="value">
        {{ product.COMPONENTS|get_item:c.code|default:0 }}</span>
      <span class="units">{{ c.def_unit }}</span></td>
      <td id="{{ c.code|lower }}-port"><span class="value">
        {{ portion_components|get_item:c.code|default:0 }}</span>
      <span class="units">{{ c.def_unit }}</span></td>
      <td id="{{ c.code|lower }}-per"><span class="value">
        {{ product_percentages|get_item:c.code|floatformat:-1|default_if_none:0 }}
      </span> %</td>
    </tr>
    {% endfor %}
    {% if input %}
      <tr>
        <td class="containsInput"><div class="ui-widget"><input id="componentsInput" class="inputLikeTd" type="text">
        </div></td>
        <td colspan="3"></td>
      </tr>
    {% endif %}
  </tbody>
</table>
