{% load custom_tags %}
  <dl class = "dl-horizontal  text-right dashboard-components-box">
    <dt></dt>
    <dd>na 100 g</dd>
    {% for c in components %}
      <dt>
        {% if c.code == "ENVAL" %}
          Energija
        {% elif c.child %}
           &nbsp- {{ c.name|lower }}
        {% else %}
          {{ c.name }}
        {% endif %}
      </dt>
        <dd id="{{ c.code|lower }}-100"><span class="value">{{ product.COMPONENTS|get_item:c.code|floatformat:"-1"|default:0 }}</span>
          {% if c.def_unit == "kcal" %}
            <span class="units">{{ c.def_unit }}</span>
          {% else %}
            <span class="units">&nbsp&nbsp&nbsp&nbsp{{ c.def_unit }}</span>
          {% endif %}
        </dd>
    {% endfor %}
  </dl>

