{% extends "izdelki/base.html" %}
{% load static %}

{% block body_style %}
  first-page
{% endblock %}


{% block styles %}
<link href="{% static 'izdelki/css/index_style.css'  %}" rel="stylesheet">
{% endblock %}

{% block header %}
 <!--
  <div class="row between-arrows">
    <div class="col-sm-12 text-center">
      <h1>Orodje za iskanje in računanje <br> hranilnih vrednosti živil</h1>
    </div>
  </div>
 -->


  <!--
  <div class="row arrow-explanation" id="index-main-buttons">
    <div class="col-sm-4 col-sm-offset-2 text-center">
      <a href="{% url 'search' %}" class ="text-light-gray">
        <h2>Poišči</h2>
        <h4>za obstoječ izdelek</h4>
        <img src="{% static 'izdelki/resources/img/index/explanation_search.png' %}">
      </a>
    </div>
    <div class="col-sm-4 text-center ">
      <a href="{% url 'add' %}" class="text-light-gray">
        <h2>Izračunaj</h2>
        <h4>za nov izdelek</h4>
        <img src="{% static 'izdelki/resources/img/index/explanation_plus.png' %}">
      </a>
    </div>
  </div>
  -->


{% endblock %}

{% block content %}
  <div class = "row index-intro-row">
    
      <div class="text-center-no-margin">
        
        <div class = "text-light-gray index-instructions title-large">
          <p>Izračunajte energijsko in hranilno vrednost, <br />
             za potrebe označevanja na živilskem izdelku.</p>
        </div>

          <br />
        <div class="margin-top">
          <a class="btn btn-primary btn-lg index-start-button" href="{% url 'add' %}" class="text-light-gray no-hover"> Začni </a>
        </div>
        

      </div>
    </a>
  </div>


  <div id="frontpage-table">
    <div class="row row-bordered vertical-align">
      <div class="col-sm-3 col-sm-offset-1 text-center feature-icon-dim">
        <div class="icon-small vertical-align">
          <img src="{% static 'izdelki/resources/img/index/america.png' %}" id="index-img-world">
          <img src="{% static 'izdelki/resources/img/index/no.png' %}" class ="cross-icon">
        </div>
      </div>
      <div class="col-sm-3 text-center">
        <div class="icon-small vertical-align">
          <img src="{% static 'izdelki/resources/img/index/slovenia.png' %}" id="index-img-slo">
          <img src="{% static 'izdelki/resources/img/index/yes.png' %}">
        </div>
      </div>
      <div class="col-sm-4 text-center index-icons-description">
        <h4>
          <p><strong>slovenska baza</strong> <br> živilskih izdelkov</p>
        </h4>
      </div>
    </div>

    <div class="row row-bordered vertical-align">
      <div class="col-sm-3 col-sm-offset-1 text-center feature-icon-dim">
        <div class="icon-small vertical-align">
          <img src="{% static 'izdelki/resources/img/index/business.png' %}" id="index-img-business">
          <img src="{% static 'izdelki/resources/img/index/no.png' %}" class ="cross-icon">
        </div>
      </div>
      <div class="col-sm-3 text-center">
        <div class="icon-small vertical-align">
          <img src="{% static 'izdelki/resources/img/index/research.png' %}" id="index-img-research">
          <img src="{% static 'izdelki/resources/img/index/yes.png' %}">
        </div>
      </div>
      <div class="col-sm-4 text-center index-icons-description">
        <h4>
          <p><strong>znanstveni namen</strong> <br> projekta</p>
        </h4>
      </div>
    </div>

    <div class="row row-bordered last-row vertical-align">
      <div class="col-sm-3 col-sm-offset-1 text-center feature-icon-dim">
        <div class="icon-small vertical-align">
          <img src="{% static 'izdelki/resources/img/index/informed_purchase.png' %}" id="index-img-buy">
          <img src="{% static 'izdelki/resources/img/index/no.png' %}" class ="cross-icon">
        </div>
      </div>
      <div class="col-sm-3 text-center">
        <div class="icon-small vertical-align">
          <img src="{% static 'izdelki/resources/img/index/get_info.png' %}" id="index-img-info">
          <img src="{% static 'izdelki/resources/img/index/yes.png' %}">
        </div>
      </div>
      <div class="col-sm-4 text-center index-icons-description">
        <h4>
          <p><strong>prost dostop</strong> <br> do informacij</p>
        </h4>
      </div>
    </div>
  </div>

  <div id="namen">
    <div class="about-banner"> </div>
    <div class="inner-container">
      <div class="row vertical-align-container">
        <div class="col-sm-6 col-md-5 col-md-offset-1" id="index-namen-text">
          <h2 class = "title-large namen-title">Namen</h2>
          <p>
            Spletno orodje je namenjeno vsem, ki želijo označiti hranilno vrednost predpakiranega živila v skladu z <a class="gray" href="https://www.uradni-list.si/glasilo-uradni-list-rs/vsebina/116104" target="_blank">Uredbo o zagotavljanju informacij potrošnikom</a>. Uporabniki lahko preverijo skladnost označbe izbranega produkta. Orodje omogoča tudi vnos sestavin novega produkta in izračun njegove označbe. Prijavljeni uporabniki lahko označbe novih produktov shranjujejo v bazo.
          </p>
        </div>

        <div class="col-sm-5 col-sm-offset-1 text-center namen-logo-container">
          <a href="{% url 'add' %}" class = "namen-logo">
            <img id="img-oznacba" src="{% static 'izdelki/resources/img/index/oznacba.png' %}">
            <p><strong>označevanje <br> hranilnih vrednosti</strong></p>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div  id="avtorji">
    <div class="about-banner"> </div>
    <div class="inner-container">
      <div class="row vertical-align-container">
        
        <div class="col-sm-6 col-md-5 col-md-offset-1" id="img-author">
          <div>
            <a href="https://cs.ijs.si" target="_blank"><img src="{% static 'izdelki/resources/img/index/ijs.png' %}"></a>
          </div>
          
          <div>
            <a href="http://www.uvhvvr.gov.si" target="_blank">
              <img src="{% static 'izdelki/resources/img/index/urad_varna_hrana.png' %}">
            </a>
          </div>

        </div>
        <div class="col-sm-5 col-sm-offset-1   col-md-5  col-md-offset-1 " id="index-authors-text">
          <h2 class="avtorji-title title-large">Avtorji</h2>
          <p>Orodje smo razvili na Odseku za računalniške sisteme Instituta "Jožef Stefan",
          v sodelovanju z Upravo RS za varno hrano, veterinarstvo in varstvo rastlin.
          Uporabljamo bazo podatkov o sestavi živil, ki smo jo oblikovali v sodelovanju z Oddelkom
          za živilstvo Biotehniške fakultete na Univerzi v Ljubljani v skladu z evropskimi smernicami.</p>
        </div>
      </div>
    </div>
  </div>

  <div id="database">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2>Trenutno stanje baze</h2>
      </div>
    </div>
    <div class="flex-center margin-top-medium">
      <div>
        <img src="{% static 'izdelki/resources/img/index/database_product.png' %}">
        <h3>{{ product_no }}</h3>
        <p>vnešenih živil</p>
      </div>
      <div>
        <img src="{% static 'izdelki/resources/img/index/database_user.png' %}">
        <h3>{{ producer_no }}</h3>
        <p>proizvajalcev</p>
      </div>
    </div>
  </div>


  <div class = "text-light-gray" id="index-instructions-end">
    <div class="index-end-banner">
    </div>
    <div class="row index-intro-row-end">
      <div class="col-sm-12 text-center">
        <div class = "text-light-gray index-instructions-end title-large">
          <p>Izračunajte prehransko označbo </p>
        </div>

          <br />
        <div class="margin-top">
          <a class="btn btn-primary btn-lg index-start-button" href="{% url 'add' %}" class="text-light-gray no-hover"> Začni </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  <script src="{% static 'izdelki/js/jquery.ba-throttle-debounce.js' %}"></script>
  <script src="{% static 'izdelki/js/index.js' %}"></script>
{% endblock javascript %}
