{% extends "izdelki/base.html" %}
{% load static %}
{% load custom_tags %}


{% block content %}
  <div class="row">
    <div class="col-md-12">
          <div id="search-no-results">Zahtevani izdelek ne obstaja</div> 
    </div>
{% endblock %}