{% extends "izdelki/base.html" %}
{% load static %}

{% block content %}
  <div class="row">
    <div class="col-md-12">
      <h1>Prijava</h1>
    </div>
  </div>
  {% if user.is_authenticated %}
    Ste že prijavljeni! {{ user.username }}
  {% else %}
  <form action="{% url 'login' %}" class="form-horizontal" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="usernameInput" class="col-sm-2 control-label">Uporabnik</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="usernameInput" name="usernameInput" placeholder="Uporabniško ime">
      </div>
    </div>
    <div class="form-group">
      <label for="passwordInput" class="col-sm-2 control-label">Geslo</label>
      <div class="col-sm-6">
        <input type="password" class="form-control" id="passwordInput" name="passwordInput" placeholder="Geslo">
      </div>
    </div>
    <div class="col-sm-offset-2 col-sm-6">
      <input type="submit" class="btn btn-default" value="Prijava">
    </div>
  </form>
  {% endif %}
{% endblock %}