{% extends 'izdelki/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Login{% endblock %}

{% block styles %}
<link href="{% static 'izdelki/css/user_pages.css'  %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row first-row about-pages">
  <div class="col-sm-8 column-pad-right">
    <h1 class="title-large">Prijava</h1>
    {% crispy form %}
  </div>
</div>
{% endblock %}