{% extends 'izdelki/base.html' %}
{% load widget_tweaks %}

{% block content %}
  <div class = "row">
    <div class = "col-sm-8">
      {% if validlink %}
        <h3>Ponastavitev Gesla</h3>
        <form method="post">
          {% csrf_token %}
          <p>
            {{ form.non_field_errors }}
            {% for field in form %}
              {{ field.label_tag }} 
              <div class="error">{{ field.errors}}</div>
              {{ field|add_class:'textinput textInput form-control' }}    
            {% endfor %}
          </p>
          <button type="submit" class="btn btn-default btn-primary">Nastavi geslo</button>
        </form>
      {% else %}
        <p>
          Ta povezava za spremembo gesla ni veljavna. Možen razlog za to je, da je potekla ali bila že uporabljena. 

          Prosim zahtevajte novo povezavo za ponastavitev gesla z klikom na gumb "pozabil geslo" ob prijavi.
        </p>
      {% endif %}
    </div>
  </div>
{% endblock %}
