{% extends 'izdelki/base.html' %}
{% load widget_tweaks %}

{% block content %}
  <div class = "row about-pages first-row">
    <div class = "col-sm-8">
      <h1 class="title-large"> Pozabljeno geslo/Sprememba gesla </h1>
      <p> 
        Če ste pozabili ali želite zamenjati geslo, prosim vpišite e-naslov vašega uporabniškega računa v spodnje polje. 
      </p>
      <form method="post">
        {% csrf_token %}
        <p>
          {% for field in form %}
            {{ field.label_tag }} 
            {{ field|add_class:'textinput textInput form-control' }}    
          {% endfor %}
        </p>
        <button type="submit" class="btn btn-default btn-primary">Potrdi</button>
      </form>
    </div>
  </div>
{% endblock %}