{% extends "izdelki/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block styles %}
<link href="{% static 'izdelki/css/user_pages.css'  %}" rel="stylesheet">
{% endblock %}

{% block content %}

  <!-- HELP MODALS -->
  <div class="modal fade" tabindex="-1" role="dialog" id="register-help-modal-1">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p> 
            V aplikacijo se lahko prijavite kot potrošnik ali ponudnik (podjetje, pridelovalec). Potrošnik lahko uporablja vse funkcionalnosti aplikacije, razen možnosti vnosa črtne kode izračunane prehranske označbe in njene javne objave. Vse označbe prepisane s strani potrošnika preverimo pred javno uporabo.
          </p>
          <p>
            Aplikacijo lahko uporabljate tudi, če se ne prijavite. V tem primeru lahko izračunate ali prepišete označbo, vendar je ne morete shraniti dokler se ne prijavite.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Nazaj</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row about-pages first-row">
    <div class="col-md-8">
      <h1 class="title-large">Registracija</h1>
      <span id="register-help-1" data-toggle="modal" data-target="#register-help-modal-1" class = "glyphicon glyphicon-question-sign help-icon"></span>
    </div>
  </div>


  <div class="row">
    <div class="col-md-8">
      <form action="{% url 'register' %}" novalidate id="register_form" class="form-horizontal" method="post">
        {% csrf_token %}
        <h3>Osnovni podatki</h3>
        {% crispy form_basic %}
        <div class="business-only">
          <hr>
          <h3>Podatki podjetja</h3>
          {% crispy form_company %}
        </div>
        
        {% crispy form_privacy %}

        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <button type="submit" class="btn btn-default btn-primary">Registriraj se</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}

{% block javascript %}
  <script src="{% static 'izdelki/js/register.js' %}"></script>
{% endblock javascript %}