﻿{% extends "izdelki/base.html" %}
{% load static %}
{% load custom_tags %}

{% block styles %}
<link href="{% static 'izdelki/css/search.css'  %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <script type="text/javascript">
      var searchQuery = "{{ search_query | safe }}";
    </script>
  <div class="row about-pages search-page first-row">
    <div class="col-md-8">
      <h1 class="title-large">Iskanje po javno dostopnih izdelkih </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <form action="{% url 'search' %}" class="form-horizontal" id="search-form">
          <div class="input-group" id="search-container">
              <!--<button type="submit" class="btn btn-default" id="search-button"> -->
                <input id="search-input" type="text" name="searchQuery" class="form-control" value="{{ search_query }}"
                     placeholder="Išči po prodajnem imenu izdelka ali črtni kodi ..." aria-label="Iskanje" hidden>
               <span class="input-group-btn">
                 <button class="btn btn-default" id="search-button" type = "submit">
                   <span class="glyphicon glyphicon-search glyphicon-white glyphicon-flip-horizontal" aria-hidden="true"></span>
                   <span class="sr-only">Išči</span>
                 </button>
               </span>
          </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" id="search-results">
      {% if no_products %}
        <div class = error>
          Prišlo je do napake pri povezavi z podatkovno bazo. Prosim, poskusite kasneje.
        </div>
      {% endif %}
      
	  {% for product in food %}
          {% comment %}
          <!--If we use the %empty% tag to check fo no results
               then the entire table needs to be inside the forloop
               So forloop.first and forloop.last 
               are used for the start and end of the table -->
          {% endcomment %}
          {% if forloop.first %}	
            <table class="table table-hover searchtableTop">
              <thead>
                <tr class = "searchtable">
               {% ifequal sort "COMMERCIAL_NAME" %}
                  <th id="searchProductName"><a href = "?searchQuery={{ search_query }}&sort=COMMERCIAL_NAME&reverse={{reverse|yesno:'no,yes'}}">izdelek (prodajno ime) <img src="{% static "izdelki/resources/img/sort_" %}{{reverse|yesno:'down,up'}}.png"/></a></th>
               {% else %}
                 <th id="searchProductName" class= "inactive"><a href = "?searchQuery={{ search_query }}&sort=COMMERCIAL_NAME&reverse=no"><span>izdelek (prodajno ime) </span> <img src="{% static "izdelki/resources/img/sort_inactive-new.png" %}"/></a></th></a></th>
               {% endifequal %}

               {% ifequal sort "PRODUCER" %}
                 <th id="searchProducerName"><a href = "?searchQuery={{ search_query }}&sort=PRODUCER&reverse={{reverse|yesno:'no,yes'}}">nosilec dejavnosti <img src="{% static "izdelki/resources/img/sort_" %}{{reverse|yesno:'down,up'}}.png"/></a></th>
               {% else %}
                 <th id="searchProducerName" class= "inactive"><a href = "?searchQuery={{ search_query }}&sort=PRODUCER&reverse=no"> <span>nosilec dejavnosti</span> <img src="{% static "izdelki/resources/img/sort_inactive-new.png" %}"/></a></th></a></th>
               {% endifequal %}

               {% ifequal sort "GROUP_NAME" %}
                 <th id="searchGroupName"><a href = "?searchQuery={{ search_query }}&sort=GROUP_NAME&reverse={{reverse|yesno:'no,yes'}}">skupina živil <img src="{% static "izdelki/resources/img/sort_" %}{{reverse|yesno:'down,up'}}.png"/></a></th>
               {% else %}
                 <th id="searchGroupName" class= "inactive"><a href = "?searchQuery={{ search_query }}&sort=GROUP_NAME&reverse=no"> <span>skupina živil </span> <img src="{% static "izdelki/resources/img/sort_inactive-new.png" %}"/></a></th></a></th>
               {% endifequal %}

               {% ifequal sort "BARCODE" %}
                 <th id="searchBarcode" ><a href = "?searchQuery={{ search_query }}&sort=BARCODE&reverse={{reverse|yesno:'no,yes'}}">črtna koda <img src="{% static "izdelki/resources/img/sort_" %}{{reverse|yesno:'down,up'}}.png"/></a></th>
               {% else %}
                 <th id="searchBarcode" class= "inactive"><a href = "?searchQuery={{ search_query }}&sort=BARCODE&reverse=no"> <span> črtna koda</span> <img src="{% static "izdelki/resources/img/sort_inactive-new.png" %}"/></a></th>
               {% endifequal %}
          </tr>
        </thead>
		    <tbody class="infinite-container searchtable-body" id="searchtable-body">
      {% endif %} 

        
        <tr class="infinite-item clickable-row  {% cycle 'row-odd' 'row-even' %}" data-url="{% url 'detail' product.CODE %}">
          <td class="highlight-result product-name searchEllipsis" data-toggle="tooltip" 
          data-placement="top" title = "{{ product.COMMERCIAL_NAME|default_if_none:'' }}">

            {% if product.IS_RECIPE %}
              <img src=" {% static 'izdelki/resources/img/search-result-recipe.png' %} " alt="Recept">
            {% else %}
              <img src=" {% static 'izdelki/resources/img/search-result-label.png' %} " alt="Označba">
            {% endif %}
            <span class = "search-results-product-name">{{ product.COMMERCIAL_NAME|default_if_none:"" }}</span>
          </td>
          

          <td class="searchEllipsis" data-toggle="tooltip" 
          data-placement="top" title = "{{ product.PRODUCER|default_if_none:'' }}"> {{ product.PRODUCER|default_if_none:"" }}</td>
          <td class="searchEllipsis" data-toggle="tooltip" 
          data-placement="top" title = "{{ product.GROUP_NAME|default_if_none:'' }}"> {{ product.GROUP_NAME|default_if_none:"" }}</td>
          <td class="searchEllipsis" data-toggle="tooltip" 
          data-placement="top" title = "{{product.BARCODE|default_if_none:'' }}"> {{ product.BARCODE|default_if_none:"" }}</td>
        </tr>

        {% if forloop.last %}
            </tbody>
          </table>
        {% endif %}
        
        {% empty %}
          {% if empty_query %}
            
            <div class = "col-md-8 no-padding-left">
              <p>Na tej strani lahko iščete po vseh javno objavljenih izdelkih, dodanih preko spletne aplikacije Prehranske Označbe. Iščete lahko tako po imenu kot po črtni kodi izdelka.</p>

              <p>Če želite pregled samo nad vašimi izdelki, kliknite <a href="{% url 'dashboard' %}"> tukaj.</a></p>
            </div>
          {% else %}
            <div id="search-no-results">Najden ni bil noben izdelek</div> 
          {% endif %}

        {% endfor %}
    </div>
  </div>


  <div class="loading" style="display: none;">
    Več rezultatov se nalaga...
  </div>

  {% if food.has_next %}
    <a class="infinite-more-link" href="?searchQuery={{ search_query }}&page={{ food.next_page_number }}&sort={{sort}}&reverse={{reverse|yesno:'yes,no'}}"> </a>
  {% endif %}


{% comment 'use infinite scroll instead' %}
  <div class="row">
    <div class="col-md-12 text-center">
      <nav aria-label="Navigacija po zadetkih iskanja">
        <ul class="pagination">
          {% if food.has_previous %}
          <li>
            <a href="?searchQuery={{ search_query }}&page={{ food.previous_page_number }}&sort={{  sort  }}&reverse={{reverse|yesno:'yes,no'}}" aria-label="Prejšnja stran">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          {% else %}
            <li class="disabled">
              <a href="#" aria-label="Prejšnja stran">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">(onemogočeno)</span>
              </a>
            </li>
          {% endif %}

          {% for page in pages %}
            {% if pages|place_dots:forloop.counter0 %}
              <li><a href="">...</a></li>
            {% endif %}

            {% if page == food.number %}
            <li class="active">
            {% else %}
            <li>
            {% endif %}
              <a href="?searchQuery={{ search_query }}&page={{ page }}&sort={{  sort  }}&reverse={{reverse|yesno:'yes,no'}}">{{ page }}</a>
            </li>
          {% endfor %}

          {% if food.has_next %}
          <li>
            <a href="?searchQuery={{ search_query }}&page={{ food.next_page_number }}&sort={{  sort }}&reverse={{reverse|yesno:'yes,no'}}" aria-label="Naslednja stran">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
          {% else %}
            <li class="disabled">
              <a href="#" aria-label="Naslednja stran">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">(onemogočeno)</span>
              </a>
            </li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>

{% endcomment %}
{% endblock %}

{% block javascript %}

  <script src="{% static 'izdelki/js/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'izdelki/js/waypoints/infinite.min.js' %}"></script>
  <script src="{% static 'izdelki/js/search.js' %}"></script>
{% endblock javascript %}